@media screen and (min-width:1921px){
    body{
        font-size: 21px;
    }
}
@media screen and (max-width:1920px){
    body{
        font-size: 21px;
    }
}
@media screen and (min-width:1850px){
    .res-box{
        margin-top: 3em;
    }
    .balance-form {
        height: 26.3em;
    }
    .bottom-flex {
        margin: 1.9em 0;
    }
    .second-id {
        margin-top: 6.7em;
    }
    .top-filter{
        margin: 1.6em 0;
        margin-top: 0.3em;
    }

}
@media screen and (max-width:1700px){
    body{
        font-size: 17px;
    }
}
@media screen and (min-width:1500px){
    .logo-text {
        padding-bottom: 0.1em;
    }

}
@media screen and (max-width:1500px){
    body{
        font-size: 16px;
    }

}
@media screen and (max-width:1400px){
    body{
        font-size: 15px;
    }
}
@media screen and (max-width:1260px){
    body{
        font-size: 14px;
    }
}
@media screen and (max-width:1165px){
    body{
        font-size: 13px;
    }
}
@media screen and (max-width:1024px){
    body{
        background-size: cover;
        background-position: center center;
    }
    .footer-png, .body-before{
        display: none;
    }
}
@media screen and (max-width:992px) {
    .all-page{
        height: auto;
    }
    .room-form-box .input-box .error-text {
        font-size: 0.92em;
    }
    .hover-y:hover img {
        opacity: 1;
    }
    .back-input {
        top: 0;
    }
    .s2 {
        top: -2.12em;
    }
    @-webkit-keyframes run {
        0% { left: 83%; top: -1.1em; right: unset}
        38%{ left: -0.4em; top: -1.1em; right: unset}
        42%{ left: -1.05em; top: 0.05em;}
        50%{ left: -0.4em;  top: 65%; right: unset}
        88%{ left: 83%; top: 65%; right: unset}
        93%{ left: 93%; top: 0.05em;}
        100%{ left: 83%; top: -1.1em; right: unset}
    }
    @-moz-keyframes run {
        0% { left: 83%; top: -1.1em; right: unset}
        38%{ left: -0.4em; top: -1.1em; right: unset}
        42%{ left: -1.05em; top: 0.05em;}
        50%{ left: -0.4em;  top: 65%; right: unset}
        88%{ left: 83%; top: 65%; right: unset}
        93%{ left: 93%; top: 0.05em;}
        100%{ left: 83%; top: -1.1em; right: unset}
    }
    @-o-keyframes run {
        0% { left: 83%; top: -1.1em; right: unset}
        38%{ left: -0.4em; top: -1.1em; right: unset}
        42%{ left: -1.05em; top: 0.05em;}
        50%{ left: -0.4em;  top: 65%; right: unset}
        88%{ left: 83%; top: 65%; right: unset}
        93%{ left: 93%; top: 0.05em;}
        100%{ left: 83%; top: -1.1em; right: unset}
    }
    @keyframes run {
        0% { left: 83%; top: -1.1em; right: unset}
        38%{ left: -0.4em; top: -1.1em; right: unset}
        42%{ left: -1.05em; top: 0.05em;}
        50%{ left: -0.4em;  top: 65%; right: unset}
        88%{ left: 83%; top: 65%; right: unset}
        93%{ left: 93%; top: 0.05em;}
        100%{ left: 83%; top: -1.1em; right: unset}
    }
    .modal-helper{
        z-index: 51;
    }
    .all-page .sm-text{
        text-align: center;
    }
    .all-page{
        width: 30em;
    }
    .all-page .text-box{
        padding: 2em;
    }
    .all-page .modal-box2{
        width: 100%;
        height: auto;
    }
    .all-page .modal-box2{
        font-size: 1.1em;
        min-height: 20em;
    }
    .digit {
        padding: 0.25em;
    }
    .digit:before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .s3 {
        width: 1.9em;
        left: -1.5em;
        bottom: unset;
        top: -1.7em;
    }
    .s4 {
        width: 1.9em;
        right: -1.5em;
        top: unset;
        bottom: -1.7em;
    }
    .win-text {
        position: absolute;
        top: 1.9em;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }
    .yel-btn.long {
        padding: 14px 4em;
        font-size: 0.9em;
    }
    .mining .center-container {
        padding: 1em 6em;
        padding-top: 0.5em;
    }
    input.captcha{
        padding: 7px;
    }
    .mob_absolut{
        position: absolute;
        left: 50%;
        top: calc(100% + 2em);
        transform: translateX(-50%);
    }
    .room{
        padding-bottom: 5em;
    }
    .room-submit {
        margin-top: 0;
        position: absolute;
        top: calc(100% + 5.2em);
        left: 0;
        width: 100%;
    }
    .room_btn {
        padding: 0.46em 0.2em;
        font-size: 0.91em;
        font-family: HMedium;
    }
    .room-form-box {
        width: 18em;
        margin-top: 1.8em;
    }
    .room .center-box {
        padding: 0.9em 0.8em;
    }
    .mining.mob-res .center-box {
        padding: 0.9em 0.8em;
    }
    .room-border2 {
        border: 0.2em solid #d0a400;
        padding: 3em 2.4em;
    }
    .room-border {
        border: 0.25em solid #f4ee00;
    }
    .digit-star {
        width: 1em;
    }
    .digit-star.left {
        left: -1.2em;
    }
    .digit-star.right {
        right: -1.2em;
    }
    .digit-box {
        padding: 0.4em 0.8em;
    }

    .room-submit .yel-btn {
        padding: 15px 3.7em;
        font-size: 0.9em;
    }
    .yel-btn{
        background-image: none;
        border: 1px solid #ffcb00;
    }
    .menu-items .menu-blick{
        -webkit-animation: linear run2 5s infinite!important;
        -moz-animation: linear run2 5s infinite!important;
        -o-animation: linear run2 5s infinite!important;
        animation: linear run2 5s infinite!important;
    }
    .last-item .menu-blick{
        -webkit-animation: linear run33 5s infinite!important;
        -moz-animation: linear run33 5s infinite!important;
        -o-animation: linear run33 5s infinite!important;
        animation: linear run33 5s infinite!important;
    }
    @keyframes run2 {
        0% { left: 75%; top: -0.95em; right: unset}
        38%{ left: -0.5em; top: -0.95em; right: unset}
        42%{ left: -0.9em; top: -0.4em;}
        50%{ left: -0.5em;  top: 0.8em; right: unset}
        88%{ left: 75%; top: 0.8em; right: unset}
        93%{ left: 79.4%; top: -0.4em;}
        100%{ left: 75%; top: -0.95em; right: unset}
    }
    @keyframes run33 {
        0% { left: 65%; top: -0.95em; right: unset}
        38%{ left: -0.5em; top: -0.95em; right: unset}
        42%{ left: -0.9em; top: -0.4em;}
        50%{ left: -0.5em;  top: 0.8em; right: unset}
        88%{ left: 65%; top: 0.8em; right: unset}
        93%{ left: 70%; top: -0.4em;}
        100%{ left: 65%; top: -0.95em; right: unset}
    }
    .mob-overflow{
        overflow: hidden;
    }
    .section-flex {
        height: auto;
        padding-bottom: 4em;
    }
    .last-item img:not(.menu-blick) {
        width: 1em;
        margin-right: 0;
    }
    .menu-items{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 50;
        padding: 1.5em 0;
        background-color: rgba(0,0,0,0.5);
    }
    .menu-items:after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        content: "";
        background: linear-gradient(to right, #00ced9,transparent);
    }
    .menu-items li {
        margin: 0 0.4em;
        margin-bottom: 0!important;
        margin-top: 0!important;

    }
    .menu-text.mob_block{
        display: flex!important;
    }
    .menu-text {
        margin-left: 0;
        position: relative;
        top: 0;
        font-size: 1.1em;
        width: auto;
        padding: 0 1em;
        height: 1.8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-icon{
        display: none;
    }
    .footer-png{
        display: none;
        position: fixed;
        bottom: 0;
        left: -10%;
        width: 120%;
        opacity: 0.1;
    }
    .hover-b{
        left: -0.8em;
        position: relative;
    }
    body, html{
        overflow-x: hidden;
    }
    .mod_close {
        width: 2.5em;
        height: 2.5em;
        top: -1.7em;
        right: -2px;;
    }
    .mod_close img {
        width: 1.2em;
    }
    .center-animate2, .center-animate{
        display: none!important;
    }
    .header-png{
        left: -40%;
    }
    .square{
        opacity: 1!important;
    }
    .blue-title {
        font-size: 1.1em;
    }
    .center-container{
        padding: 1.8em 2em;
    }
    .center-box{
        width: 400px;
        margin: 0 auto;
    }
    .center-box .sm-text{
        text-align: center;
        font-size: 0.85em;
    }
    .form-box{
        width: 18em;
    }
    input{
        font-size: 0.95em;
        padding: 10px;
    }
    .room .square.right, .room .square.right.sm-1, .room .square.right.sm-2, .room .square.right.sm-3{
        left: unset;
    }
    .sq1{
        width: 6.2em!important;
        height: 6.2em!important;
        left: -0.9em!important;
        top: -0.9em!important;
    }
    .sq2{
        left: -0.6em!important;
        top: 5.6em!important;
        width: 1.5em!important;
        height: 1.4em!important;
    }
    .sq3{
        left: -0.1em!important;
        top: 7.3em!important;
        width: 0.9em!important;
        height: 0.9em!important;
    }
    .sq4 {
        width: 1.1em!important;
        height: 1.1em!important;
        left: 5.6em!important;
        top: -0.95em!important;
    }
    .sq5{
        width: 6.2em!important;
        height: 6.2em!important;
        right: -0.9em!important;
        bottom: -0.9em!important;
    }
    .sq6{
        width: 1.5em!important;
        height: 1.4em!important;
        right: -0.6em!important;
        bottom: 5.6em!important;
    }
    .sq7{
        width: 0.9em!important;
        height: 0.9em!important;
        right: -0.1em!important;
        bottom: 7.3em!important;
    }
    .sq8 {
        width: 1.1em!important;
        height: 1.1em!important;
        right: 5.6em!important;
        bottom: -0.95em!important;
    }
    .yel-btn{
        font-size: 0.8em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btns{
        margin-top: 5em;
    }
    .balance-anchor {
        color: white;
        border-radius: 0;
        padding: 0em 1.2em;
        padding-left: 0.4em;
        background-color: transparent;
        line-height: 1;
        background: transparent;
    }
    .mob-style img{
        width: 0.9em;
        margin-right: 0.4em;
    }
    .mob-style{
        color: black;
        border-radius: 23px;
        padding: 8px 1.15em;
        background-color: #fdf500;
        line-height: 1;
        background: linear-gradient(to right, rgba(253,245,0,1) 0%, rgba(196,144,0,1) 100%);
    }

    .bg-left{
        width: 5.4em;
        opacity: 0.5;
    }
    .bg-right{
        width: 11.4em;
        position: fixed;
    }
    .center-box{
        height: auto;
    }
    section {
        height: auto;
        margin-top: 0;
        padding-top: 5em;
        padding-bottom: 2em;
    }
    .balance img{
        margin-bottom: 0!important;
    }
    .blue-circle{
        opacity: 0.6;
    }
    .mobile-sm-padding{
        padding-top: 3em;
    }
    .header-logo{
        font-size: 1.6em;
    }
    body{
        font-size: 14px;
        overflow-y: auto;
        min-height: 100vh;
    }
    .index-logo{
        display: none;
    }
    .mob_block{
        display: block!important;
    }
    .mob_none{
        display: none!important;
    }
    .menu-items-after{
        display: none;
    }
    .header-left{
        position: absolute;
        top: 110%;
        top: calc(100% + 1em);
        right: 0;
        width: auto;
    }
    .header-center{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) perspective(1px) translateZ(0);
        backface-visibility: hidden;
        zoom: 97%;
    }

    .logo-star.left {
        left: -1.2em;
    }
    .logo-star.right {
        right: -1.2em;
    }
    .header-right{
        width: 100%;
        justify-content: space-between;
    }
    .header-right a {
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
    }
    .header-icon {
        width:2.5em;
        margin-right: 0;
        margin-bottom: 0.1em;
    }
    .header-box{
        padding: 0.4em 0;
        height: auto;
    }
    .menu {
        top: 4.45em;
    }
    .header-left a span, .header-right a span {
        font-size: 0.75em;
    }
    .header-left a.mob-style span {
        font-size: 1em;
        line-height: 1.1;
    }
    .hover-b span{
        position: relative;
        left: 0.2em;
    }
    header{
        position: relative;
        z-index: 40;
    }
    .header-menu-animate{
        position: absolute;
        left: -0.3em;
        top: 101%;
        width: auto;
        z-index: 15;
        overflow: unset!important;
    }
    .header-menu-animate:after{
        position: absolute;
        content: "";
        left: 47%;
        top: -1.5em;
        transform: translateX(-50%);
        width: 1px;
        bottom: 1em;
        background-color: #8d8d0d;
        display: block;
        opacity: 0;transition: 1s;

    }
    .header-menu-animate.factive:after{
        opacity: 1;
    }
    .header-menu{
        flex-direction: column;
        width: auto;
        display: none;
    }
    .header-menu a{
        display: block;
    }
    .header-menu-item{
        margin: 0.3em 0!important;
        width: 100%;
        font-size: 0.85em;
        background-color: black;
        padding: 0.6em 0.75em;
        position: relative;
        z-index: 1;

    }

}
@media screen and (max-width:780px) {

}
@media screen and (max-width:650px) {

}
@media screen and (max-width:600px) {
    .balance-box input::placeholder{
        font-size: 1em;
    }
    .balance-box{
        padding-bottom: 2em;
    }
    .mob-100{
        width: 300px;
        margin: 0 auto;
    }
    body{
        font-size: 15px;
    }
    .balance-box{
        width: 97%;
        margin: 0 auto;
    }
    .balance-box .center-box{
        width: 100%;
    }
    .mob_block2{
        display: block!important;
    }
    .mob_flex{
        display: flex;
        justify-content: space-between;
    }
    .balance-box input{
        background-image: none!important;
        border: 1px solid #ffffff;
        padding: 10px 0.6em!important;
        font-size: 0.9em;
    }
    .form-bg {
        height: 12em;
    }
    .select2 {
        font-size: 0.9em;
    }
    .balance-box input.input-sm3{
        width: 6em;
    }
    .balance-box input.input-sm{
    }
    .mob-none{
        display: none!important;
    }
    .balance-box input.radio {
        border-width: 0.3em!important;
        padding: 0!important;
        width: 1.5em;
        height: 1.5em;
    }
    .balance-box input.radio:checked{
        background-color: #0ec9d1;
    }
    .balance-form {
        height: 28em;
    }
    .form-top input{
        width: 100%;
        margin-left: 0;
    }
    .form-top input::placeholder{
        color: white!important;
    }
    .balance-menu-item {
        width: 31%;
        padding: 0.4em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .balance-box .center-box {
        padding: 1.1em 0.8em;
    }
    .balance-box input.datepicker {
        padding: 7px 0.5em!important;
        background-image: url(../img/select.png)!important;
    }

}

@media screen and (max-width:550px) {
    .room4 .digit-item{
        font-size: 0.95em;
    }
    .room4 .digit-box {
        padding: 0.65em 0.4em;
    }
    .room4 .room-border2 {
        padding: 3em 1.6em;
    }
}
@media screen and (max-width:500px) {
    .all-page .star-line {
        width: 92%;
        position: relative;
        margin: 1em auto;
    }
    .all-page .text-box {
        padding: 1.5em 0.5em;
    }
    .all-page{
        width: 95%;
    }
    .room4 .digit-item{
        font-size: 0.88em;
    }
    .room4 .digit-box {
        padding: 0.75em 0.3em;
    }
    .mob-res .center-box {
        padding: 0.6em 0.5em;
    }
    .room3 .room-border2 {
        padding: 3em 2em;
    }
    .mining .center-container {
        padding: 1em 4.5em;
        padding-top: 0.5em;
    }
    .header-logo {
        font-size: 1.4em;
        padding: 0.4em 0.6em;
    }
    .home-center {
        width: 62vw;
        height: 62vw;
    }
    .home-sm {
        font-size: 1em;
    }
    .home-big {
        font-size: 2.4em;
    }
    .home-center-text .home-big {
        font-size: 2.6em;
    }
}
@media screen and (max-width:470px) {
    .room3 .digit-item{
        font-size: 0.95em;
    }
    .room3 .digit-box {
        padding: 0.6em 0.4em;
    }
}
@media screen and (max-width:450px) {
    .home-anchor {
        padding: 0.86em 1.35em;
    }
    button.long-btn {
        padding: 14px 3.4em;
    }
    .balance-title {
        padding-top: 1.3em;
        font-size: 1.1em;
        padding-bottom: 1.3em;
    }
    .table {
        padding: 1.3em 0.5em;
    }
    .second-id {
        width: 19em;
        margin: 3em auto;
    }
    .balance-box input.input-sm3 {
        width: 7.9em;
        padding: 0.5em!important;
    }
    .top-text-item {
        margin-left: 0;
    }
    .top-text img{
        display: none;
    }
    .sm-span {
        font-size: 0.85em;
    }
    .bottom-text {
        font-size: 0.9em;
        right: unset;
        left: 0.8em;
        top: 101%;
    }
    .marg-input {
        margin-bottom: 1em;
    }
    .balance-box {
        width: 98%;
    }
    .top-text {
        padding: 0.5em;
    }
    .balance-box input.input-sm {
        padding: 0.6em!important;
    }
    .balance-menu {
        padding: 0 0.5em;
    }
    .form-flex {
        padding: 1em 0.5em;
    }
    .balance-menu-item {
        width: 32%;
        padding: 0.4em 0;
    }
    .room2 .room-border2 {
        padding: 3em 1.8em;
    }
    .footer-png {
        bottom: 0.5em;
        opacity: 0.6;
    }
    .y-arr {
        position: absolute;
        width: 10em;
        left: -2.8em;
        top: 1em;
    }
    .header-png {
        left: -57%;
        opacity: 0.7;
    }
    .bg-right-top {
        top: 6.9em;
        position: absolute;
        right: 0;
        width: 18em;
        opacity: 0.4;
    }
    .home-anchor{
        font-size: 1.1em;
    }
    .big-blick {
        width: 4em;
        right: 1em;
        top: 5.7em;
    }
    .sm-blick {
        width: 4.8em;
        left: 0.6em;
    }
    .home-center {
        width: 63vw;
        height: 63vw;
    }
    .home {
        padding: 2.5em;
    }
    .home-after {
        padding: 1.3em;
    }
    .home-top-text {
        margin: 2.5em 0;
        margin-bottom: 1.4em;
    }
    body{
        font-size: 14px;
    }
    .center-box {
        width: 93%;
        margin: 0 auto;
    }
    /*#registration, #login{*/
        /*width: 95%;*/
    /*}*/
    .btns {
        margin-top: 3.3em;
    }
    .center-container {
        padding: 1.8em 1.3em;
    }
    .kak_igrat {
        position: absolute;
        right: 1.5em;
        top: 99%;
        font-size: 0.8em;
    }
    .header-logo {
        font-size: 1.2em;
        padding: 0.6em 0.6em;
    }
    .balance-form{
        height: auto;
    }
    .mob-help{
        display: block!important;
    }
}
@media screen and (max-width:420px) {

    .mining-item {
        font-size: 1.1em;
    }
    .mining-box {
        margin: 0 auto;
    }
    .room4 .digit-item {
        margin: 0 0.15em;
    }
    .room4 .digit-item{
        font-size: 0.82em;
    }
    .room4 .digit-box {
        padding: 0.75em 0.2em;
    }
    .room4 .room-border2 {
        padding: 3em 1.4em;
    }
    .room3 .digit-item{
        font-size: 0.9em;
    }
    .room3 .digit-box {
        padding: 0.8em 0.3em;
    }
    .mob-res{
        width: 97%;
        margin: 0 auto;
    }
    .mob-res .center-box,.mob-res .room-border,.mob-res .room-border2{
        width: 100%!important;
    }
    .mob-res{
        width: 97%;
        margin: 0 auto;
    }
    .mob-res .center-box,.mob-res .room-border,.mob-res .room-border2{
        width: 100%!important;
    }
}
@media screen and (max-width:400px) {

    .room4 .digit-item{
        font-size: 0.78em;
    }
    .room3 .digit-item{
        font-size: 0.85em;
    }
    .room3 .digit-box {
        padding: 0.85em 0.2em;
    }
    .room3 .room-border2 {
        padding: 3em 1.6em;
    }
    .room2 .digit-item{
        font-size: 0.95em;
    }
    .room2 .digit-box {
        padding: 0.5em 0.2em;
    }
    .mining .center-container {
        padding: 1em 3.6em;
        padding-top: 0.5em;
    }
    .mining-box {
        width: 100%;
    }
    .menu-items li {
        margin: 0 0.2em;
    }
    .home-center {
        width: 63vw;
        height: 63vw;
        font-size: 0.9em;
    }
    .home {
         padding: 2.5em;
     }
    .home-after {
        padding: 1.3em;
    }
}
@media screen and (max-width:380px) {

}
@media screen and (max-width:374px) {
    .room4 .digit-item{
        font-size: 0.75em;
    }
    .menu-text {
        font-size: 1.05em;
    }
    .mining .center-container {
        padding: 1em 2.5em;
        padding-top: 0.5em;
    }
}
@media screen and (max-width:370px) {
    .select-item input {
        border: 1px solid #767676;
        width: 7em;
    }
}
@media screen and (max-width:360px) {
    body{
        font-size: 13px;
    }
    .menu-text {
        font-size: 1.07em;
    }
}
@media screen and (max-width:350px) {

}
@media screen and (max-width:340px) {
    .balance-box input.input-sm3 {
        width: 7em;
    }
    .mob-100 {
        width: 100%;
        margin: 0 auto;
    }
    .form-bg {
        height: 12em;
        font-size: 1.2em;
        margin-top: 0em;
    }
    .balance-box input.input-sm {
        padding: 0.8em!important;
    }
    body{
        font-size: 12px;
    }
    .menu-text {
        font-size: 1.1em;
    }
}
@media screen and (max-width:320px) {
    body{
        font-size: 11px;
    }
    .menu-text {
        font-size: 1.2em;
    }
}