* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Archive';
    src: url('../fonts/Archive.eot');
    src: url('../fonts/Archive.eot?#iefix') format('embedded-opentype'), url('../fonts/Archive.woff') format('woff'), url('../fonts/Archive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HBlack';
    src: url('../fonts/HBlack.eot');
    src: url('../fonts/HBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/HBlack.woff') format('woff'), url('../fonts/HBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HBlackItalic';
    src: url('../fonts/HBlackItalic.eot');
    src: url('../fonts/HBlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HBlackItalic.woff') format('woff'), url('../fonts/HBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HBold';
    src: url('../fonts/HBold.eot');
    src: url('../fonts/HBold.eot?#iefix') format('embedded-opentype'), url('../fonts/HBold.woff') format('woff'), url('../fonts/HBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HBoldItalic';
    src: url('../fonts/HBoldItalic.eot');
    src: url('../fonts/HBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HBoldItalic.woff') format('woff'), url('../fonts/HBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HItalic';
    src: url('../fonts/HItalic.eot');
    src: url('../fonts/HItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HItalic.woff') format('woff'), url('../fonts/HItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLight';
    src: url('../fonts/HLight.eot');
    src: url('../fonts/HLight.eot?#iefix') format('embedded-opentype'), url('../fonts/HLight.woff') format('woff'), url('../fonts/HLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLightItalic';
    src: url('../fonts/HLightItalic.eot');
    src: url('../fonts/HLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HLightItalic.woff') format('woff'), url('../fonts/HLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HMedium';
    src: url('../fonts/HMedium.eot');
    src: url('../fonts/HMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/HMedium.woff') format('woff'), url('../fonts/HMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HMediumItalic';
    src: url('../fonts/HMediumItalic.eot');
    src: url('../fonts/HMediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HMediumItalic.woff') format('woff'), url('../fonts/HMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HRoman';
    src: url('../fonts/HRoman.eot');
    src: url('../fonts/HRoman.eot?#iefix') format('embedded-opentype'), url('../fonts/HRoman.woff') format('woff'), url('../fonts/HRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: HRoman;
    font-size: 14px;
    overflow: hidden;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-position: top;
    min-height: 100vh;
    position: relative;
    color: white;
}

.rel {
    position: relative;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 49.7%;
    width: 49%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    pointer-events: none;
}

.header-png {
    position: absolute;
    height: 100%;
    left: 27%;
    top: 0;
}

.sm {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0.8em;
    margin-bottom: 1em;
}

ul, li {
    list-style-type: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.w320-block {
    display: none;
}

a {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    text-decoration: none;
    color: white;
}

input, button, select {
    border: none;
    outline: none;
    font-size: 1em;
    font-family: HMedium;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

input:disabled {
    -webkit-appearance: none;
    background-color: transparent;
    opacity: 1 !important;
}

hr {
    height: 1px;
    background-color: #8d8d0d;
    border: none;
    width: 100%;
}

.container {
    width: 87%;
    margin: 0 auto;
}

.load {
    width: 3em;
    height: 3em;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.thanks {
    color: white;
    font-size: 1.1em;
    width: 90%;
    text-align: center;
}

.bg-right, .bg-line, .bg-footer {
    position: absolute;
}

.bg-left {
    width: 6.2em;
    position: relative;
    z-index: 1;
}

.header-menu {
    width: 25em;
}

.header-menu-animate {
    width: 0;
    overflow: hidden;
    transition: 1.2s;
}

    .header-menu-animate.active {
        width: 25em;
    }

.h-none {
    display: none;
}

.info_btn.active .h-none {
    display: block;
}

.info_btn.active .h-block {
    display: none;
}

.info_btn {
    margin-left: 0 !important;
}

.menu {
    top: 3.15em;
    left: 0;
    position: absolute;
}

.menu-box {
    position: relative;
}

.menu-items-after {
    position: absolute;
    width: 100%;
    background: linear-gradient(0deg, transparent 0%, rgb(23, 143, 148) 50%);
    opacity: 0.08;
    left: 1em;
    top: -1em;
    bottom: -1em
}

.menu-items {
    padding: 3.5em 1.35em;
    padding-left: 0.9em;
    padding-bottom: 2.2em;
    background-image: url(../img/menu-bg.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.img-none {
    display: none;
}

.menu-items li {
    margin-bottom: 1.7em;
}

    .menu-items li:last-child {
        margin-bottom: 0;
        margin-top: 2.8em;
    }

        .menu-items li:last-child .menu-item {
            -webkit-transition: 0s;
            -moz-transition: 0s;
            -ms-transition: 0s;
            -o-transition: 0s;
            transition: 0s;
        }

.menu-item.active .menu-text {
    background: linear-gradient(to right, rgba(0,176,182,1) 0%, rgba(0,245,253,1) 100%);
}

.menu-item.active .img-block {
    display: none;
}

.menu-item.active .img-none {
    display: block;
}

.menu-item.active .menu-blick {
    display: none;
}

.menu-items li:last-child:hover .menu-item, .menu-items li:last-child .menu-item.active {
    color: #0fd4dc;
}

    .menu-items li:last-child:hover .menu-item .img-none, .menu-items li:last-child .menu-item.active .img-none {
        display: block;
    }

    .menu-items li:last-child:hover .menu-item .img-block, .menu-items li:last-child .menu-item.active .img-block {
        display: none;
    }

.menu-icon {
    position: relative;
    line-height: 0.7;
}

.menu-circle {
    width: 2.4em;
}

.menu-item[data-id="1"] .menu-blick {
    -webkit-animation: linear run2 5s infinite; /* Safari 4+ */
    -moz-animation: linear run2 5s infinite; /* Fx 5+ */
    -o-animation: linear run2 5s infinite; /* Opera 12+ */
    animation: linear run2 5s infinite; /* IE 10+, Fx 29+ */
}

.menu-item[data-id="2"] .menu-blick {
    right: 2.95em;
    top: -0.95em;
    -webkit-animation: linear run3 5s infinite; /* Safari 4+ */
    -moz-animation: linear run3 5s infinite; /* Fx 5+ */
    -o-animation: linear run3 5s infinite; /* Opera 12+ */
    animation: linear run3 5s infinite; /* IE 10+, Fx 29+ */
}

.menu-item[data-id="3"] .menu-blick {
    right: 1.45em;
    bottom: -0.85em;
    top: unset;
    -webkit-animation: linear run2 5s infinite; /* Safari 4+ */
    -moz-animation: linear run2 5s infinite; /* Fx 5+ */
    -o-animation: linear run2 5s infinite; /* Opera 12+ */
    animation: linear run2 5s infinite; /* IE 10+, Fx 29+ */
}

.menu-item[data-id="4"] .menu-blick {
    bottom: -0.85em;
    top: unset;
    -webkit-animation: linear run3 5s infinite; /* Safari 4+ */
    -moz-animation: linear run3 5s infinite; /* Fx 5+ */
    -o-animation: linear run3 5s infinite; /* Opera 12+ */
    animation: linear run3 5s infinite; /* IE 10+, Fx 29+ */
}

.hover-y:hover {
    color: #fdf500;
}

.hover-y img {
    transition: 0.6s;
}

.hover-y:hover img {
    opacity: 0.7;
}

.hover-b:hover {
    color: #00ced9;
}

.hover {
    transition: 0.5s;
    transform: rotate(-160deg) translateZ(0);
}

.menu-item:hover .hover {
    transform: rotate(0deg) translateZ(0);
}

.dollar {
    width: 0.6em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    ;
}

.menu-text span {
    font-size: 0.82em;
}

.menu-text {
    margin-left: -0.7em;
    position: relative;
    top: -0.2em;
    font-size: 0.9em;
    color: black;
    border-radius: 25px;
    padding: 0.22em;
    width: 5em;
    ;
    background: #fdf500;
    line-height: 1;
    background: linear-gradient(to right, rgba(253,245,0,1) 0%, rgba(196,144,0,1) 100%);
    text-align: center;
}

.menu-blick {
    width: 1.9em;
    position: absolute;
    right: -0.65em;
    top: -0.85em;
    transition: 1s;
}

.last-item span {
    font-size: 0.78em;
}

.last-item img {
    width: 1.7em;
    margin-right: 0.5em;
}

.bg-right {
    bottom: 0em;
    width: 7em;
    right: 0;
}

.bg-right-top {
    top: 6em;
    position: absolute;
    right: 0;
    width: 22em;
    opacity: 0.5;
}

.bg-footer {
    width: 100%;
    left: 0;
    bottom: 1em;
}

.bg-line {
    width: 1.5em;
    left: 4.5%;
}

header {
    border-bottom: 1px solid #00585d;
    background: rgba(0,0,0,0.7);
    position: relative;
}

.header-box {
    position: relative;
    z-index: 1;
    height: 3.1em;
    width: 95%;
    margin: 0 auto;
}

.w3 {
    width: 40%;
}

.header-logo {
    position: relative;
    display: block;
    border: 1px solid #00ced9;
    color: #00ced9;
    text-transform: uppercase;
    font-family: Archive;
    font-size: 1.3em;
    padding: 0.1em 0.7em;
}

.logo-star {
    position: absolute;
    width: 1.05em;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    transition: 0.6s;
}

    .logo-star.left {
        left: -1.6em;
    }

    .logo-star.right {
        right: -1.6em;
    }

.balance {
    margin-right: 1em;
}

.header-icon {
    width: 1.6em;
    margin-right: 0.4em;
}

.header-left a span, .header-right a span {
    font-size: 0.85em;
    line-height: 1.2;
}

.header-right a {
    margin-left: 1.6em;
}

.balance-anchor {
    display: inline-block;
    color: black;
    border-radius: 25px;
    padding: 0.3em 0.8em;
    background-color: #fdf500;
    line-height: 1;
    background: linear-gradient(to right, rgba(253,245,0,1) 0%, rgba(196,144,0,1) 100%);
}

section {
    height: 100vh;
    margin-top: -3.2em;
    padding-top: 3.2em;
}

.header-logo:hover {
    color: #fdf500;
    border-color: #fdf500;
}

.l-none {
    opacity: 0;
}

.header-logo:hover .l-none {
    opacity: 1;
}

.header-logo:hover .l-block {
    opacity: 0;
}

.title_sm {
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 0.4em;
}

.tt {
    margin-top: 1em;
}

.in_a {
    display: inline-block;
    color: #0fd4dc;
    margin-top: 1em;
}

    .in_a:hover {
        opacity: 0.7;
    }

.header-menu-item {
    margin: 0 0.3em !important;
    font-size: 0.8em;
    border-radius: 30px;
    padding: 0.4em 0.85em;
    color: #0fd4dc;
    background-image: url("../img/btn-top.png");
    background-size: 100% 100%;
}

    .header-menu-item.long {
        background-image: url("../img/btn-top-long.png");
        background-size: 100% 100%;
    }

    .header-menu-item:hover, .header-menu-item:focus {
        color: white;
        background-color: rgba(15, 212, 220, 0.5)
    }

.index-logo {
    display: inline-block;
    margin-top: 1.5em;
    position: relative;
    border: 1px solid #02555a;
    color: #00ced9;
    text-transform: uppercase;
    font-family: Archive;
    font-size: 2.1em;
    padding: 0.4em 0.2em;
}

.logo-text {
    line-height: 0.9;
    font-size: 1.03em;
}

.index-logo-img {
    position: absolute;
    width: 0.4em;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    transition: 0.6s;
}

    .index-logo-img.left {
        left: -0.22em;
    }

    .index-logo-img.right {
        right: -0.2em;
    }

.logo-items {
    line-height: 8;
    background-color: #000e11;
    margin: 0 0.1em;
    font-size: 0.55em;
    width: 1.85em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/logo-border.png");
    background-size: 100% 100%;
    color: #ffe500;
    position: relative;
}

    .logo-items:after {
        position: absolute;
        content: "";
        left: -0.3em;
        right: -0.3em;
        top: -0.3em;
        bottom: -0.3em;
        background-image: url("../img/logo-shadow.png");
        background-size: 100% 100%;
    }

.marg {
    margin-right: 0.6em;
}

.logo-top {
    margin-top: -0.93em;
    margin-bottom: 0.1em;
}

.logo-bottom {
    margin-bottom: -0.9em;
    margin-top: 0.1em;
}

.logo-items img {
    width: 0.54em;
}

    .logo-items img.sun {
        width: 2em;
    }

.index-logo-top {
    width: 1em;
    position: absolute;
    top: -1.2em;
}

    .index-logo-top.left {
        left: -0.35em;
    }

    .index-logo-top.right {
        right: -0.35em;
    }

.center-box {
    display: inline-block;
    width: 36.2em;
    height: 22em;
    margin-top: 2.6em;
    padding: 1.3em;
    position: relative;
}

    .center-box:after {
        background-image: url("../img/border.png");
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
    }

.center-animate {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/border-after.png");
    background-size: 100% 100%;
    z-index: 1;
    transition: ease-in-out opacity 0.7s;
}

.center-animate2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/border-before.png");
    background-size: 100% 100%;
    z-index: 1;
    transition: ease-in-out opacity 0.7s;
}

    .center-animate.active, .center-animate2.active {
        opacity: 0;
    }

.center-container {
    background-image: url("../img/box-bg.png");
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(255,229,0,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(255,229,0,1);
    box-shadow: 0px 0px 9px 0px rgba(255,229,0,1);
    padding: 2em 3em;
    position: relative;
    z-index: 1;
}

.blue-title {
    color: #00c0cb;
}

.sm-text {
    font-size: 0.76em;
    text-align: left;
    font-family: HLight;
}

.star-line {
    position: relative;
    margin: 1.5em 0;
}

    .star-line img {
        width: 0.8em;
        position: absolute;
        top: 13%;
        transform: translateY(-50%);
    }

        .star-line img.left {
            left: 99.8%;
        }

        .star-line img.right {
            right: 99.8%;
        }

.yel-btn {
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.65em;
    border-radius: 30px;
    padding: 0.95em 1.6em;
    /*border: 1px solid rgba(255,229,0,1);*/
    background-image: url("../img/btn-png.png");
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    transition: 0.6s;
}

.yel-sm {
    background-image: url("../img/yel-sm.png");
    background-size: 100% 100%;
}

.yel-big {
    background-image: url("../img/yel-big.png");
    background-size: 100% 100%;
}

.btns button.yel-btn {
    margin-left: 0.6em;
}

.yel-btn:hover {
    background-color: rgba(255,229,0,0.3);
}

.yel-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: -1em;
    width: 6em;
    height: 2em;
    /*background-image: url(../img/btn.png);*/
    /*background-size: 100% 100%;*/
}

.btns {
    margin-top: 2em;
}

.square {
    position: absolute;
    width: 6.2em;
    height: 6.2em;
    left: -2.4em;
    top: -2.4em;
}

    .square:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale3d(1.0, 1.0, 1.0);
        transform-origin: center center;
        background: #004649;
        transition: linear 0.8s;
    }

    .square.active:after {
        transform: scale3d(0.0, 0.0, 0.0);
    }

.sm-1 {
    width: 1.5em;
    height: 1.4em;
    left: -1.5em;
    top: 4.1em;
}

.sm-2 {
    width: 0.9em;
    height: 0.9em;
    left: -0.9em;
    top: 5.75em;
}

.sm-3 {
    width: 1.5em;
    height: 1.5em;
    left: 4em;
    top: -1.45em;
}

.square.right {
    right: -2.3em;
    left: unset;
    top: unset;
    bottom: -2.3em;
}

    .square.right.sm-1 {
        right: 4.1em;
        bottom: -1.4em;
    }

    .square.right.sm-2 {
        right: 5.8em;
        bottom: -0.9em;
    }

    .square.right.sm-3 {
        bottom: 4.1em;
        right: -1.5em;
    }

.modal-box {
    position: absolute;
    left: 0.75em;
    right: 0.75em;
    top: 0.75em;
    bottom: 0.75em;
    background: black;
    background: linear-gradient(0deg, rgb(0, 0, 0) 39%, rgb(35, 35, 35) 100%);
    z-index: 10;
    border: 1px solid #0fd4dc;
    display: none;
}

.modal-box2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    padding: 1em 2em;
    padding-top: 0;
}

    .text-box .sm-text {
        font-size: 0.8em;
        text-align: center;
    }

.mod_close {
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    border: 1px solid #0fd4dc;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.8em;
    right: -0.8em;
    z-index: 10;
}

    .mod_close img {
        width: 0.8em;
        transition: 0.6s;
    }

    .mod_close:hover img {
        transform: rotate(90deg) translateZ(0);
    }

.white-text {
    color: white;
    font-family: Archive;
    text-transform: uppercase;
    margin-bottom: 1.8em;
}

.form-box {
    width: 14em;
    margin: 0 auto;
    padding-bottom: 1em;
}

input {
    border-radius: 30px;
    padding: 0.75em 1em;
    background-image: url("../img/input.png");
    background-size: 100% 100%;
    font-family: HItalic;
    color: white;
    background-color: black;
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: 0.6s;
}

    input:focus {
        background-image: url("../img/input-blue.png");
        background-size: 100% 100%;
    }

.room-form-box input {
    background-image: url("../img/input-long.png");
    background-size: 100% 100%;
}

    .room-form-box input:focus {
        background-image: url("../img/input-yel.png");
        background-size: 100% 100%;
    }

.input-box {
    padding-bottom: 0.8em;
    position: relative;
    margin-bottom: 0.4em;
}

.error-text {
    position: absolute;
    bottom: -1px;
    left: 1.2em;
    font-size: 0.65em;
    color: #ffe500;
    display: none;
}

.sm-anchor {
    font-size: 0.75em;
    text-decoration: underline;
}

    .sm-anchor:hover {
        color: #ffe500;
    }

.btns2 {
    margin-top: 0.8em;
}

input::placeholder {
    color: white;
}

button.yel-btn {
    margin: 0;
    color: white;
    cursor: pointer;
    padding: 1.1em 2em;
    font-family: Archive;
}

.succes-box {
    font-size: 0.85em;
    display: none;
}

.succes-text {
    text-transform: uppercase;
    font-family: Archive;
    margin-bottom: 0.8em;
    font-size: 1.1em;
}

.cont {
    margin-bottom: 0.8em;
}

    .cont img {
        width: 1em;
        margin-right: 0.6em;
    }

.cont-text {
    font-size: 0.85em;
}

#contacts .white-text {
    margin-bottom: 2.2em;
}

#contacts .text-box {
    padding-bottom: 3em;
}

.section-flex {
    height: 100%;
    padding-bottom: 2em;
}

.home-center {
    border-radius: 50%;
    width: 20.5em;
    height: 20.5em;
    border: 0.2em solid #0fd4dc;
    background-color: #1a1c1e;
    text-align: center;
    position: relative;
}

.home {
    position: relative;
    display: inline-block;
    padding: 3.5em;
}

.home-after {
    position: relative;
    display: inline-block;
    padding: 1.8em;
    background-image: url("../img/home-circle.png");
    background-size: 100% 100%;
}

    .home-after:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        background-image: url("../img/home-circle-before.png");
        background-size: 100% 100%;
        pointer-events: none;
        -webkit-animation: rotating 5s linear infinite;
        -moz-animation: rotating 5s linear infinite;
        -ms-animation: rotating 5s linear infinite;
        -o-animation: rotating 5s linear infinite;
        animation: rotating 5s linear infinite;
        transform-origin: center center;
    }

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.home:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-image: url("../img/home-circle-bg.png");
    background-size: 100% 100%;
    pointer-events: none;
}

.home-sm {
    font-size: 0.8em;
}

.home-top-text {
    margin: 3em 0;
}

.home-big {
    font-size: 2.3em;
    font-family: Archive;
}

.home-top-text .home-big {
    color: #ffe500;
}

.home-rel {
    position: relative;
    display: inline-block;
    padding: 0 0.3em;
}

    .home-rel:after, .home-rel:before {
        position: absolute;
        content: "";
        top: 55%;
        transform: translateY(-50%);
        background-image: url("../img/star-ligt.png");
        background-size: 100% 100%;
        width: 0.3em;
        height: 0.27em;
    }

    .home-rel:after {
        left: 100%;
    }

    .home-rel:before {
        right: 100%;
    }

.home-center-text .home-big {
    color: #0fd4dc;
    font-size: 2.5em;
}

.home-top-text, .home-center-text {
    position: relative;
    z-index: 1;
}

.home-bottom-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    left: 0;
    display: flex;
    justify-content: center;
}

.home-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.66em 1.35em;
    color: black;
    border-radius: 30px;
    border: 1px solid black;
    font-family: Archive;
    text-transform: uppercase;
    background-color: black;
}
    /*.home-anchor:hover{*/
    /*color: white;*/
    /*background-color: black;*/
    /*border-color: #0fd4dc;*/
    /*}*/
    .home-anchor span {
        font-size: 0.82em;
    }

    .home-anchor img {
        width: 0.8em;
        margin-right: 0.4em;
        transition: 0.4s;
    }

    .home-anchor:hover img {
        filter: brightness(0) invert(1);
    }

.big-blick, .sm-blick {
    position: absolute;
    z-index: 1;
}

    .big-blick img, .sm-blick img {
        width: 100%;
    }

.big-blick {
    width: 4.7em;
    right: -1em;
    top: 6.9em;
    -webkit-animation: flickerAnimation 7s infinite;
    -moz-animation: flickerAnimation 7s infinite;
    -o-animation: flickerAnimation 7s infinite;
    animation: flickerAnimation 7s infinite;
}

.sm-blick {
    width: 4.8em;
    left: 1.8em;
    bottom: 6.8em;
    -webkit-animation: flickerAnimation 5s infinite;
    -moz-animation: flickerAnimation 5s infinite;
    -o-animation: flickerAnimation 5s infinite;
    animation: flickerAnimation 5s infinite;
}

.y-arr {
    position: absolute;
    width: 11em;
    left: -3.4em;
    top: 0em;
}

.blue-circle {
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #0fd4dc;
    opacity: 0.3;
    bottom: 5.3em;
    left: -0.4em;
}
/* Rectangle In */
.hvr-rectangle-in {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

    .hvr-rectangle-in:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        background-color: #0fd4dc;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-rectangle-in:hover {
        color: white;
        border-color: #0fd4dc;
    }

        .hvr-rectangle-in:hover:before {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

.room .square {
    left: unset;
    right: -2.4em;
    width: 7.6em;
    height: 7.1em;
    opacity: 0.4;
}

    .room .square.sm-1 {
        width: 2.8em;
        height: 2.7em;
        top: -1.4em;
        right: -1.1em;
    }

    .room .square.sm-3 {
        width: 2em;
        height: 1.9em;
        top: 5.1em;
        right: -5.2em;
    }

    .room .square.right {
        right: unset;
        left: -2.4em;
        bottom: -2em;
    }

        .room .square.right.sm-1 {
            width: 2.8em;
            height: 2.7em;
            bottom: -1.3em;
            left: -1.2em;
            right: unset;
            top: unset;
        }

        .room .square.right.sm-3 {
            width: 2em;
            height: 1.9em;
            bottom: -2em;
            top: unset;
            left: 5.5em;
            right: unset;
        }

.room-border {
    background-image: url(../img/box-bg.png);
    border: 0.25em solid #f4ee00;
    position: relative;
    z-index: 1;
}

.room-border2 {
    border: 0.25em solid #d0a400;
    padding: 2.4em 5em;
}

.room-border, .room-border2 {
    width: 100%;
    height: 100%;
}

.digit-item {
    width: 3.4em;
    height: 3.4em;
    margin: 0 0.2em;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    background-color: transparent;
}

.inner {
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.front, .back {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    user-select: none;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.front {
    background-image: url("../img/dol.png");
    background-size: 100% 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-image: url("../img/digit.png");
    background-size: 100% 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    border: 2px solid #f4ee00;
}

.back-input {
    text-align: center;
    background: transparent;
    border: none;
    cursor: default;
    font-family: Archive;
    padding: 0;
    font-size: 2em;
    color: #f4ee00;
    z-index: 1;
    width: 100%;
    position: relative;
    top: -0.04em;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.31);
}

.digit-item.active .inner {
    transform: rotateY(180deg);
}

.digit {
    position: relative;
    padding: 0.45em;
    background: #8D7100;
    background: -webkit-linear-gradient(0deg, rgb(238, 234, 0) 0%, rgb(141, 113, 0) 66%);
    background: -o-linear-gradient(0deg, rgb(238, 234, 0) 0%, rgb(141, 113, 0) 66%);
    background: -moz-linear-gradient(0deg, rgb(238, 234, 0) 0%, rgb(141, 113, 0) 66%);
    background: linear-gradient(0deg, rgb(238, 234, 0) 0%, rgb(141, 113, 0) 66%);
}

.digit-star {
    position: absolute;
    width: 1.3em;
    top: 50%;
    transform: translateY(-50%);
}

    .digit-star.left {
        left: -2.5em;
    }

    .digit-star.right {
        right: -2.5em;
    }

.digit:before {
    position: absolute;
    content: "";
    left: 0.1em;
    right: 0.1em;
    top: 0.1em;
    bottom: 0.1em;
    border: 0.25em dotted #f4ee00;
    border-bottom-color: #a28300;
    z-index: 1;
}

.digit-box {
    padding: 1.4em 3em;
    background-image: url("../img/red-bg.jpg");
    position: relative;
    z-index: 1;
}

.room .center-box {
    width: auto;
    height: auto;
    padding: 1.3em 1.7em;
}

.room-form-box {
    width: 16em;
    margin: 0 auto;
    margin-top: 2.2em;
    position: relative;
    z-index: 1;
}

    .room-form-box .input-box {
        padding: 0;
        margin-bottom: 0.6em;
    }

        .room-form-box .input-box .error-text {
            bottom: 106%;
            left: 0;
            font-size: 0.75em;
            text-align: center;
            width: 100%;
            color: #e01721;
        }

.room_btn {
    transition: 0.6s;
    width: 31%;
    background: #C3C3C3;
    background: -webkit-linear-gradient(90deg, rgb(195, 195, 195) 0%, rgb(130, 130, 130) 50%);
    background: -o-linear-gradient(90deg, rgb(195, 195, 195) 0%, rgb(130, 130, 130) 50%);
    background: -moz-linear-gradient(90deg, rgb(195, 195, 195) 0%, rgb(130, 130, 130) 50%);
    background: linear-gradient(90deg, rgb(195, 195, 195) 0%, rgb(130, 130, 130) 50%);
    border-radius: 30px;
    padding: 0.2em;
    font-size: 0.85em;
    font-family: HLight;
}

    .room_btn:hover, .room_btn:focus {
        background: -webkit-linear-gradient(90deg, #00afb5 0%, #00f2f9 50%);
        background: -o-linear-gradient(90deg, #00afb5 0%, #00f2f9 50%);
        background: -moz-linear-gradient(90deg, #00afb5 0%, #00f2f9 50%);
        background: linear-gradient(90deg, #00afb5 0%, #00f2f9 50%);
    }

    .room_btn span {
        font-size: 0.95em;
    }

.room-submit {
    margin-top: 1.7em;
}

    .room-submit .yel-btn {
        font-family: Archive;
        padding: 0.8em 4em;
        font-size: 0.75em;
    }

.yel-btn .menu-blick {
    width: 2.2em;
    position: absolute;
    right: -0.35em;
    top: -1.05em;
    transition: 1s;
}

.footer-png, .body-before {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
    background-image: url("../img/body-after.png");
    background-size: 100%;
    background-position: bottom;
    user-select: none;
}

.body-before {
    background-image: url("../img/body-before.png");
    opacity: 0.2;
}

.form2 {
    text-align: center;
    padding-bottom: 1em;
}

.modal-anchor {
    text-align: center;
    text-decoration: underline;
    font-size: 0.9em;
}

    .modal-anchor a:hover {
        color: #0fd4dc;
    }

.form2 .white-text {
    margin-bottom: 0.4em;
}

.form-moneta {
    width: 1.9em;
    filter: grayscale(1);
    margin-bottom: 0.5em;
}

.win-text {
    position: absolute;
    top: -2.8em;
    left: 0;
    right: 0;
    text-align: center;
}

    .win-text span {
        text-transform: uppercase;
        font-family: Archive;
        color: #f7ed00;
        font-size: 1.5em;
        text-shadow: 2px -2px 0px #841F27;
    }

.span-hidden {
    display: none;
}

.b-star {
    position: absolute;
    z-index: 2;
    display: none;
}

    .b-star img {
        width: 100%;
    }

.s1 {
    width: 4.5em;
    left: -2.1em;
    bottom: -2.3em;
}

.s2 {
    width: 4.5em;
    right: -2em;
    top: -2em;
}

.s3 {
    width: 1.9em;
    left: -2.6em;
    bottom: 1em;
}

.s4 {
    width: 1.9em;
    right: -2.6em;
    top: 1em;
}

.back.active {
    background-image: url("../img/digit-bingo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: transparent;
}

    .back.active .back-input {
        color: black;
    }

.digit-star.active {
    display: none;
}

.b-star.active, .bingo-blick.active, .win-text span.active {
    display: block;
}

@keyframes bingo {
    0% {
        transform: scale3d(0.5,0.5,0.5)
    }

    50% {
        transform: scale3d(1.0,1.0,1.0)
    }

    100% {
        transform: scale3d(0.5,0.5,0.5)
    }
}

@keyframes bingo-star {
    0% {
        transform: scale3d(0.5,0.5,0.5) rotate(0)
    }

    50% {
        transform: scale3d(1.0,1.0,1.0) rotate(360deg)
    }

    100% {
        transform: scale3d(0.5,0.5,0.5) rotate(0)
    }
}

@keyframes bingo-star2 {
    0% {
        transform: scale3d(0.5,0.5,0.5) rotate(0)
    }

    50% {
        transform: scale3d(1.0,1.0,1.0) rotate(-360deg)
    }

    100% {
        transform: scale3d(0.5,0.5,0.5) rotate(0)
    }
}

.bingo-blick {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.s1, .s2 {
    animation: bingo 2s infinite;
}

.s3, .s4 {
    animation: bingo-star2 3s infinite;
}

.bingo-blick img {
    width: 35em;
}

.bingo-blick.active img {
    animation: bingo 2s infinite;
}

.win-text span.active {
    animation: bingo 2s infinite;
}

.win-text span {
    display: none;
}

.room .square.m-sm3 {
    width: 2em;
    height: 1.9em;
    top: -2.4em;
    bottom: unset;
    right: 5.2em;
    left: unset;
}

.room .square.m-sm1 {
    left: unset;
    right: -3.4em;
    width: 7.6em;
    height: 7.1em;
    opacity: 0.4;
    top: -3.5em;
}

.room .square.right.m-sm1 {
    right: unset;
    left: -3.4em;
    width: 7.6em;
    height: 7.1em;
    opacity: 0.4;
    bottom: -3.5em;
    top: unset;
}

.room .square.right.m-sm4 {
    width: 2em;
    height: 1.9em;
    bottom: -2.4em;
    top: unset;
    left: 5.2em;
    right: unset;
}

.mining .center-container {
    padding: 1.8em 8em;
    padding-top: 0.5em;
}

.mining-logo {
    width: 6em;
    margin-bottom: 1em;
}

.mining-box {
    width: 16.5em;
    text-align: center;
}

.mining-item {
    width: 47.5%;
    position: relative;
    background: #545454;
    background: linear-gradient(90deg, rgb(84, 84, 84) 36%, rgb(59, 59, 59) 78%);
    color: white;
    border-radius: 30px;
}

    .mining-item.active {
        background: linear-gradient(90deg, #0ec9d1 36%, #018e94 78%);
    }

.mining-img {
    width: 2.2em;
    margin-top: -0.8em;
}

.mining-item-text {
    width: calc(100% - 3.6em);
    text-align: center;
    font-size: 0.9em;
}

.mining-text {
    font-size: 0.8em;
    margin: 1em 0;
}

input.captcha {
    background-color: white;
    color: black;
    padding: 0.2em 0.5em;
    font-size: 1.3em;
}

.yel-btn.long {
    padding: 0.95em 5em;
    background-color: transparent;
}

.yel-btn:disabled .menu-blick {
    display: none;
}

.yel-btn:disabled {
    pointer-events: none;
    user-select: none;
    filter: grayscale(1);
}

.mining-form .input-box {
    margin-bottom: 1em;
}

.yel-btn.long:hover {
    background-color: rgba(255,229,0,0.3);
}

.auto {
    width: auto;
    height: auto;
}

.balance-box .center-box {
    width: 38.5em;
    height: auto;
    margin-top: 0;
}

.balance-box .center-container {
    padding: 0;
}

.balance-title {
    font-family: Archive;
    color: #f7ed00;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.balance-menu {
    padding: 0 1.8em;
    display: flex;
    justify-content: space-between;
    font-family: Archive;
    border-bottom: 1px solid #f7ed00;
}

.top-text {
    padding: 0.5em 1.8em;
    background: rgba(53, 94, 97, 0.5);
}

.top-text-item span {
    display: inline-block;
    line-height: 1.4;
}

.top-text-item {
    margin-left: 1em;
    font-size: 0.8em;
}

.balance-menu-item {
    width: 31%;
    padding: 0.6em 0;
    text-align: center;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

    .balance-menu-item:hover {
        color: #f7ed00;
    }

    .balance-menu-item.active {
        background: linear-gradient(to right, rgba(253,245,0,1) 0%, rgba(196,144,0,1) 100%);
        color: black;
    }

    .balance-menu-item span {
        font-size: 0.8em;
    }

.form-flex {
    padding: 1.1em 1.8em;
    padding-bottom: 0;
}

.form-item {
    width: 49%;
}

.balance-box input {
    padding: 0.6em 1em;
}

    .balance-box input::placeholder {
        font-size: 0.9em;
    }

.form-top input {
    width: 51%;
    margin-left: 0.6em;
    font-size: 0.75em;
}

.sm-span {
    font-size: 0.75em;
}

.form-bg {
    margin-top: 1em;
    padding: 1em 1.4em;
    height: 10.1em;
}

.block-span {
    display: block;
    margin-bottom: 0.5em;
    color: black;
}

.marg-input {
    margin-bottom: 0.4em;
}

.select-box {
    margin-top: 0.7em;
}

.form-bg.first {
    background-image: url("../img/cart-bg.png");
    background-size: 100% 100%;
}

.form-bg.second {
    background-image: url("../img/cart-bg2.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.second-flex span {
    color: black;
    position: relative;
    top: -0.1em;
}

.second-flex input {
    margin-left: 0.3em;
    width: 5.6em;
}

input.radio {
    width: 1.25em;
    height: 1.3em;
    margin-right: 0.6em;
    border-color: white;
    border-width: 0.3em;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    background-image: none;
}

    input.radio:focus {
        background-image: none;
    }

    input.radio:checked {
        background-color: #0ec9d1;
    }

.bottom-flex label {
    cursor: pointer;
}

button.long-btn {
    padding: 0.95em 3.4em;
    background-color: transparent;
    margin-bottom: 2em;
}

    button.long-btn:hover {
        background-color: rgba(255,229,0,0.3);
    }

.bottom-flex {
    margin: 1.1em 0;
}

.balance-box .square {
    opacity: 0.5;
}

.b1 {
    width: 6.7em;
    height: 6em;
    left: -2.4em;
    top: -1.2em;
}

.square.b2 {
    width: 6.7em;
    height: 6em;
    right: -2.4em;
    bottom: -1.2em;
}

.b5 {
    width: 1.5em;
    height: 1.5em;
    left: 4.5em;
    top: -1.2em;
}

.b3 {
    top: 5.05em;
}

.b4 {
    top: 6.67em;
}

.balance-box .square.right.sm-3 {
    bottom: 5em;
    right: -1.5em;
}

.balance-box .square.right.sm-1 {
    right: 4.5em;
    bottom: -1.2em;
}

.balance-box .square.right.sm-2 {
    right: -0.9em;
    bottom: 6.7em;
}

.balance-box .center-animate2 {
    background-image: url("../img/border-before2.png");
    background-size: 100% 100%;
}

.balance-form {
    height: 24em;
}

.second-id {
    width: 19em;
    margin: 0 auto;
    margin-top: 5.6em;
}

.second-id-flex input {
    width: 55%;
}

.chet, .chet:focus {
    background-image: url("../img/input-long2.png");
    background-size: 100% 100%;
}

.second-id .input-box {
    margin-top: 0.95em;
    margin-bottom: 1.7em;
}

.convert {
    width: 43%;
    border-radius: 30px;
    background: #828282;
    background: -webkit-linear-gradient(90deg, rgb(72, 72, 72) 0%, rgb(110, 110, 110) 100%);
    background: -o-linear-gradient(90deg, rgb(72, 72, 72) 0%, rgb(110, 110, 110) 100%);
    background: -moz-linear-gradient(90deg, rgb(72, 72, 72) 0%, rgb(110, 110, 110) 100%);
    background: linear-gradient(90deg, rgb(72, 72, 72) 0%, rgb(110, 110, 110) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
}

.table {
    padding: 1.3em 1.8em;
}

.select-item {
    display: inline-block;
    margin-left: 1em;
}

    .select-item input {
        border: 1px solid #767676;
        width: 9em;
        background-image: url("../img/select.png");
        background-size: 9px;
        background-position: right 7px center;
        background-repeat: no-repeat;
    }

.table table {
    font-size: 0.82em;
    width: 100%;
    border-collapse: collapse;
    margin: 1.2em 0;
    font-family: HLight;
}

    .table table td {
        padding: 0.6em 0.7em;
        border: 1px solid #036a6c;
    }

    .table table td {
        background-color: #000000;
    }

.header-tr td {
    background-color: #005d60 !important;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.pagination-item {
    color: #f7ed00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    background-image: url("../img/pagination.png");
    background-size: 100% 100%;
    font-size: 0.9em;
    font-family: Archive;
}

    .pagination-item.active, .pagination-item:hover {
        color: white;
        background-color: rgba(255,229,0,0.3);
    }

.select2 {
    outline: none !important;
    font-size: 0.8em;
}

.select2-search__field {
    font-size: 1em;
    font-family: HMedium;
}

.select2-dropdown {
    color: black !important;
    font-size: 0.8em;
}

.select2 span {
    outline: none !important;
}

.inline {
    display: inline-block;
}

    .inline .select2-container {
        width: 5.4em !important;
    }

.balance-item {
    display: none;
}

    .balance-item.active {
        display: block;
    }

.balance-box .modal-box {
    top: 0.95em;
    bottom: 0.95em;
}

.unupper {
    font-size: 0.9em;
}

.no-filter {
    filter: none !important;
    margin-bottom: 1em;
}

.upper {
    text-transform: uppercase;
}

.unupper2 {
    display: block;
    margin-bottom: 0.2em;
    font-size: 0.95em;
}

.yel-box {
    display: inline-block;
    border-radius: 30px;
    margin-top: 0.5em;
    padding: 0.5em 1.2em;
    color: black;
    background: #FDF500;
    background: linear-gradient(to right, rgba(253,245,0,1) 0%, rgba(196,144,0,1) 100%);
}

.bottom-text {
    font-size: 0.82em;
    border-bottom: 1px solid white;
    position: absolute;
    right: 1.5em;
    top: 101%;
}

.yel-btn .menu-blick {
    -webkit-animation: linear run 7s infinite; /* Safari 4+ */
    -moz-animation: linear run 7s infinite; /* Fx 5+ */
    -o-animation: linear run 7s infinite; /* Opera 12+ */
    animation: linear run 7s infinite; /* IE 10+, Fx 29+ */
}

.yel-btn.yel-sm .menu-blick {
    -webkit-animation: linear runsm 7s infinite; /* Safari 4+ */
    -moz-animation: linear runsm 7s infinite; /* Fx 5+ */
    -o-animation: linear runsm 7s infinite; /* Opera 12+ */
    animation: linear runsm 7s infinite; /* IE 10+, Fx 29+ */
}

.yel-btn.yel-big .menu-blick {
    -webkit-animation: linear runbig 7s infinite; /* Safari 4+ */
    -moz-animation: linear runbig 7s infinite; /* Fx 5+ */
    -o-animation: linear runbig 7s infinite; /* Opera 12+ */
    animation: linear runbig 7s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes runsm {
    0% {
        left: 78%;
        top: -1.1em;
        right: unset
    }

    38% {
        left: -0.4em;
        top: -1.1em;
        right: unset
    }

    42% {
        left: -1.05em;
        top: 0.05em;
    }

    50% {
        left: -0.4em;
        top: 60%;
        right: unset
    }

    88% {
        left: 78%;
        top: 60%;
        right: unset
    }

    93% {
        left: 85%;
        top: 0.05em;
    }

    100% {
        left: 78%;
        top: -1.1em;
        right: unset
    }
}

@-webkit-keyframes runbig {
    0% {
        left: 85%;
        top: -1.1em;
        right: unset
    }

    38% {
        left: -0.4em;
        top: -1.1em;
        right: unset
    }

    42% {
        left: -1.05em;
        top: 0.05em;
    }

    50% {
        left: -0.4em;
        top: 60%;
        right: unset
    }

    88% {
        left: 85%;
        top: 60%;
        right: unset
    }

    93% {
        left: 95%;
        top: 0.05em;
    }

    100% {
        left: 85%;
        top: -1.1em;
        right: unset
    }
}

@-webkit-keyframes run {
    0% {
        left: 83%;
        top: -1.1em;
        right: unset
    }

    38% {
        left: -0.4em;
        top: -1.1em;
        right: unset
    }

    42% {
        left: -1.05em;
        top: 0.05em;
    }

    50% {
        left: -0.4em;
        top: 60%;
        right: unset
    }

    88% {
        left: 83%;
        top: 60%;
        right: unset
    }

    93% {
        left: 93%;
        top: 0.05em;
    }

    100% {
        left: 83%;
        top: -1.1em;
        right: unset
    }
}

@-moz-keyframes run {
    0% {
        left: 83%;
        top: -1.1em;
        right: unset
    }

    38% {
        left: -0.4em;
        top: -1.1em;
        right: unset
    }

    42% {
        left: -1.05em;
        top: 0.05em;
    }

    50% {
        left: -0.4em;
        top: 60%;
        right: unset
    }

    88% {
        left: 83%;
        top: 60%;
        right: unset
    }

    93% {
        left: 93%;
        top: 0.05em;
    }

    100% {
        left: 83%;
        top: -1.1em;
        right: unset
    }
}

@-o-keyframes run {
    0% {
        left: 83%;
        top: -1.1em;
        right: unset
    }

    38% {
        left: -0.4em;
        top: -1.1em;
        right: unset
    }

    42% {
        left: -1.05em;
        top: 0.05em;
    }

    50% {
        left: -0.4em;
        top: 60%;
        right: unset
    }

    88% {
        left: 83%;
        top: 60%;
        right: unset
    }

    93% {
        left: 93%;
        top: 0.05em;
    }

    100% {
        left: 83%;
        top: -1.1em;
        right: unset
    }
}

@keyframes run {
    0% {
        left: 83%;
        top: -1.1em;
        right: unset
    }

    38% {
        left: -0.4em;
        top: -1.1em;
        right: unset
    }

    42% {
        left: -1.05em;
        top: 0.05em;
    }

    50% {
        left: -0.4em;
        top: 60%;
        right: unset
    }

    88% {
        left: 83%;
        top: 60%;
        right: unset
    }

    93% {
        left: 93%;
        top: 0.05em;
    }

    100% {
        left: 83%;
        top: -1.1em;
        right: unset
    }
}


@-webkit-keyframes run2 {
    0% {
        left: 77%;
        top: -0.95em;
        right: unset
    }

    38% {
        left: -0.5em;
        top: -0.95em;
        right: unset
    }

    42% {
        left: -0.9em;
        top: -0.4em;
    }

    50% {
        left: -0.5em;
        top: 0.3em;
        right: unset
    }

    88% {
        left: 77%;
        top: 0.3em;
        right: unset
    }

    93% {
        left: 79.4%;
        top: -0.4em;
    }

    100% {
        left: 77%;
        top: -0.95em;
        right: unset
    }
}

@-moz-keyframes run2 {
    0% {
        left: 77%;
        top: -0.95em;
        right: unset
    }

    38% {
        left: -0.5em;
        top: -0.95em;
        right: unset
    }

    42% {
        left: -0.9em;
        top: -0.4em;
    }

    50% {
        left: -0.5em;
        top: 0.3em;
        right: unset
    }

    88% {
        left: 77%;
        top: 0.3em;
        right: unset
    }

    93% {
        left: 79.4%;
        top: -0.4em;
    }

    100% {
        left: 77%;
        top: -0.95em;
        right: unset
    }
}

@-o-keyframes run2 {
    0% {
        left: 77%;
        top: -0.95em;
        right: unset
    }

    38% {
        left: -0.5em;
        top: -0.95em;
        right: unset
    }

    42% {
        left: -0.9em;
        top: -0.4em;
    }

    50% {
        left: -0.5em;
        top: 0.3em;
        right: unset
    }

    88% {
        left: 77%;
        top: 0.3em;
        right: unset
    }

    93% {
        left: 79.4%;
        top: -0.4em;
    }

    100% {
        left: 77%;
        top: -0.95em;
        right: unset
    }
}

@keyframes run2 {
    0% {
        left: 77%;
        top: -0.95em;
        right: unset
    }

    38% {
        left: -0.5em;
        top: -0.95em;
        right: unset
    }

    42% {
        left: -0.9em;
        top: -0.4em;
    }

    50% {
        left: -0.5em;
        top: 0.3em;
        right: unset
    }

    88% {
        left: 77%;
        top: 0.3em;
        right: unset
    }

    93% {
        left: 79.4%;
        top: -0.4em;
    }

    100% {
        left: 77%;
        top: -0.95em;
        right: unset
    }
}

.menu-blick {
    transform-origin: center center;
}


@-webkit-keyframes run3 {
    0% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }

    38% {
        right: -0.5em;
        top: -0.95em;
        left: unset;
    }

    42% {
        right: -0.9em;
        top: -0.4em;
    }

    50% {
        right: -0.5em;
        top: 0.3em;
        left: unset;
    }

    88% {
        right: 77%;
        top: 0.3em;
        left: unset;
    }

    93% {
        right: 79.4%;
        top: -0.4em;
    }

    100% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }
}

@-moz-keyframes run3 {
    0% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }

    38% {
        right: -0.5em;
        top: -0.95em;
        left: unset;
    }

    42% {
        right: -0.9em;
        top: -0.4em;
    }

    50% {
        right: -0.5em;
        top: 0.3em;
        left: unset;
    }

    88% {
        right: 77%;
        top: 0.3em;
        left: unset;
    }

    93% {
        right: 79.4%;
        top: -0.4em;
    }

    100% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }
}

@-o-keyframes run3 {
    0% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }

    38% {
        right: -0.5em;
        top: -0.95em;
        left: unset;
    }

    42% {
        right: -0.9em;
        top: -0.4em;
    }

    50% {
        right: -0.5em;
        top: 0.3em;
        left: unset;
    }

    88% {
        right: 77%;
        top: 0.3em;
        left: unset;
    }

    93% {
        right: 79.4%;
        top: -0.4em;
    }

    100% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }
}

@keyframes run3 {
    0% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }

    38% {
        right: -0.5em;
        top: -0.95em;
        left: unset;
    }

    42% {
        right: -0.9em;
        top: -0.4em;
    }

    50% {
        right: -0.5em;
        top: 0.3em;
        left: unset;
    }

    88% {
        right: 77%;
        top: 0.3em;
        left: unset;
    }

    93% {
        right: 79.4%;
        top: -0.4em;
    }

    100% {
        right: 77%;
        top: -0.95em;
        left: unset;
    }
}

.logo-items span, .logo-items img, .logo-items, .index-logo-top {
    visibility: hidden;
    overflow: hidden;
    transform: translateZ(0) !important;
}

    .logo-items span.active, .logo-items img.active, .logo-items.active, .index-logo-top.active {
        visibility: visible;
    }

.kak_igrat {
    position: absolute;
    right: 6em;
    top: 102.5%;
    font-size: 0.75em;
}

    .kak_igrat img {
        width: 3.8em;
        margin-right: 0.1em;
    }

    .kak_igrat:hover {
        opacity: 0.5;
    }

.modal-helper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 50;
    display: none;
}

.mob_block2 {
    display: none !important;
}

.form-top input::placeholder {
    color: transparent !important;
}

.mob-help {
    display: none !important;
}

.all-page {
    width: 36.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: unset;
    right: unset;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
    height: 18em;
}

    .all-page .center-container {
        height: auto;
        border: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        background-image: none;
    }

.mob_block {
    display: none !important;
}

.input-sm {
    background-image: url("../img/input-sm.png");
    background-size: 100% 100%;
}

    .input-sm:focus {
        background-image: url("../img/input-sm.png");
        background-size: 100% 100%;
    }

.input-sm2 {
    background-image: url("../img/input-sm2.png");
    background-size: 100% 100%;
}

    .input-sm2:focus {
        background-image: url("../img/input-sm2.png");
        background-size: 100% 100%;
    }

.input-sm3 {
    background-image: url("../img/input-sm3.png");
    background-size: 100% 100%;
}

    .input-sm3:focus {
        background-image: url("../img/input-sm3.png");
        background-size: 100% 100%;
    }


.success_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 100;
    display: none;
}

    .loader img {
        width: 5em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
