﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Icons ~/Content/animate.css -->

    <link href="~/Content/flag-icon.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/Content/styleAdmin.css" rel="stylesheet">
    <link href="~/Content/pace.min.css" rel="stylesheet">

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <header class="app-header navbar">
        <a class="navbar-brand" href="@Url.Action("Index", "Admin")">
            Админ
        </a>
        <div>
            <button class="btn btn-primary mr-3">Выйти</button>
        </div>
    </header>

    @RenderBody()

    <footer class="app-footer">
        <div>
            <a href="https://coreui.io">Счетик удачи</a>
            <span>&copy; 2019</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://coreui.io">Maint</a>
        </div>
    </footer>
</body>



</html>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/select.js"></script>


<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/pace.min.js"></script>
<script src="~/Scripts/perfect-scrollbar.min.js"></script>
<script src="~/Scripts/coreui.min.js"></script>
<!-- ~/Scripts -->

<script src="~/Scripts/custom-tooltips.min.js"></script>
<script src="~/Scripts/main.js"></script>
