﻿<!DOCTYPE html>
<html>
<head>
    <title>Счетчик удачи</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/select.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />
    <link rel="icon" type="image/png" href="/img/ico.png">
</head>
<body>
    <div class="loader">
        <img src="/img/loader.gif">
    </div>
    <div class="modal-helper"></div>
    <img src="/img/circle.png" class="center-circle">
    <img src="/img/bg-right.png" class="bg-right mob_none">
    <img src="/img/mobile/footer.png" class="bg-right mob_block">
    <div class="footer-png"></div>
    <div class="body-before"></div>
    <img src="/img/right-top.png" class="bg-right-top">

    @if (ViewContext.RouteData.Values["action"].ToString().ToLower() != "login" && ViewContext.RouteData.Values["action"].ToString().ToLower() != "confirmation")
    {
        <header class="index-none">
            <img src="/img/header.png" class="header-png">
            <div class="header-box flex align-center">
                <div class="w3 header-left flex start align-center">
                    <div class="balance flex start align-center">
                        <img src="/img/moneta.png" class="header-icon">
                        <div class="balance-anchor">
                            @{ Html.RenderAction("_CalcBalance", "Home"); }
                        </div>
                    </div>
                    <a href="@Url.Action("Balance", "Home")" class="flex start align-center hover-y mob-style">
                        <img src="/img/add.png" class="header-icon mob_none">
                        <img src="/img/add-3.png" class="header-icon mob_block">
                        <span class="mob_none">Пополнить</span>
                        <span class="mob_block">баланс</span>
                    </a>
                </div>
                <div class="header-center">
                    <a href="@Url.Action("Index", "Home")" class="header-logo index-none">
                        <img src="/img/star-blue.png" class="logo-star left l-block">
                        <img src="/img/star-y.png" class="logo-star left l-none">
                        <span>Счетчик удачи</span>
                        <img src="/img/star-blue.png" class="logo-star right l-block">
                        <img src="/img/star-y.png" class="logo-star right l-none">
                    </a>
                </div>
                <div class="w3 header-right flex align-center end">
                    <a href="#" class="flex start align-center hover-y info_btn">
                        <img src="/img/info.png" class="header-icon h-block">
                        <img src="/img/info-h.png" class="header-icon h-none">
                        <span>Информация</span>
                    </a>
                    <div class="header-menu-animate">
                        <div class="header-menu flex start align-center">
                            <a href="#" class="header-menu-item show-modal2" data-show="how_to_play2">как играть</a>
                            <a href="#" class="header-menu-item show-modal2" data-show="about">о проекте</a>
                            <a href="#" class="header-menu-item show-modal2" data-show="contacts2">контакты</a>
                            <a href="#" class="header-menu-item long show-modal2" data-show="oplata2">условия оплаты</a>
                        </div>
                    </div>
                    <a href="@Url.Action("Logout", "Home")" class="flex start align-center hover-b index-none">
                        <img src="/img/logout.png" class="header-icon">
                        <span>Выход</span>
                    </a>
                </div>
            </div>
        </header>

        <div class="menu">
            @Html.Partial("_LeftMenu")
        </div>


        <section class="rel">
            @RenderBody()
        </section>

        @Html.Partial("_Modals")
    }
    else
    {

        <header>
            <img src="/img/header.png" class="header-png">
            <div class="header-box flex align-center">
                <div class="w3 header-left flex start align-center"></div>
                <div class="header-center">
                    <a href="#" class="header-logo mob_block" style="pointer-events: none">
                        <img src="/img/star-blue.png" class="logo-star left l-block">
                        <img src="/img/star-y.png" class="logo-star left l-none">
                        <span>Счетчик удачи</span>
                        <img src="/img/star-blue.png" class="logo-star right l-block">
                        <img src="/img/star-y.png" class="logo-star right l-none">
                    </a>
                </div>
                <div class="w3 header-right flex align-center end">
                    <a href="#" class="flex start align-center hover-y info_btn">
                        <img src="/img/info.png" class="header-icon h-block">
                        <img src="/img/info-h.png" class="header-icon h-none">
                        <span>Информация</span>
                    </a>
                    <div class="header-menu-animate">
                        <div class="header-menu flex start align-center">
                            <a href="#" class="header-menu-item show-modal" data-show="how_to_play">как играть</a>
                            <a href="@Url.Action("Login", "Home")" class="header-menu-item">о проекте</a>
                            <a href="#" class="header-menu-item show-modal" data-show="contacts">контакты</a>
                            <a href="#" class="header-menu-item long show-modal" data-show="oplata">Условия оплаты</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>


        <section class="rel mobile-sm-padding">
            @RenderBody()
        </section>
    }




    <footer>
        <p>&copy; @DateTime.Now.Year - Maint</p>
    </footer>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/code.js"></script>
    <script src="~/Scripts/select.js"></script>
</body>
</html>