﻿<img src="/img/bg-left.png" class="bg-left mob_none">
<img src="/img/mobile/header.png" class="bg-left mob_block">
<div class="menu-box index-none">
    <div class="menu-items-after"></div>
    <ul class="menu-items">
        <li>
            <a href="@Url.Action("Room", "Home", new { roomId = 1 })" class="menu-item flex start align-start" data-id="1">
                <div class="menu-icon">
                    <img src="/img/menu-circle.png" class="menu-circle img-block hover">
                    <img src="/img/menu-circle-active.png" class="menu-circle img-none">
                    <img src="/img/dollar.png" class="dollar img-block">
                    <img src="/img/dollar-active.png" class="dollar img-none">
                </div>
                <div class="menu-text">
                    <img src="/img/blick.png" class="menu-blick">
                    <span>1 000</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Room", "Home", new { roomId = 2 })" class="menu-item flex start align-start" data-id="2">
                <div class="menu-icon">
                    <img src="/img/menu-circle.png" class="menu-circle img-block hover">
                    <img src="/img/menu-circle-active.png" class="menu-circle img-none">
                    <img src="/img/dollar.png" class="dollar img-block">
                    <img src="/img/dollar-active.png" class="dollar img-none">
                </div>
                <div class="menu-text">
                    <img src="/img/blick.png" class="menu-blick">
                    <span>10 000</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Room", "Home", new { roomId = 3 })" class="menu-item flex start align-start" data-id="3">
                <div class="menu-icon">
                    <img src="/img/menu-circle.png" class="menu-circle img-block hover">
                    <img src="/img/menu-circle-active.png" class="menu-circle img-none">
                    <img src="/img/dollar.png" class="dollar img-block">
                    <img src="/img/dollar-active.png" class="dollar img-none">
                </div>
                <div class="menu-text">
                    <img src="/img/blick.png" class="menu-blick">
                    <span>100 000</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Room", "Home", new { roomId = 4 })" class="menu-item flex start align-start" data-id="4">
                <div class="menu-icon">
                    <img src="/img/menu-circle.png" class="menu-circle img-block hover">
                    <img src="/img/menu-circle-active.png" class="menu-circle img-none">
                    <img src="/img/dollar.png" class="dollar img-block">
                    <img src="/img/dollar-active.png" class="dollar img-none">
                </div>
                <div class="menu-text">
                    <img src="/img/blick.png" class="menu-blick">
                    <span>1 000 000</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Mining", "Home")" class="menu-item flex start align-start last-item">
                <img src="/img/menu-last.png" class="last-img img-block mob_none">
                <img src="/img/menu-last-active.png" class="last-img img-none mob_none">
                <span class="mob_none">Комната<br> майнинга</span>
                <div class="menu-text mob_block">
                    <img src="/img/blick.png" class="menu-blick">
                    <img src="/img/mobile/menu-last.png" class="last-img">
                </div>
            </a>
        </li>
    </ul>
</div>