﻿<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Admin")">
                    <i class="nav-icon fa fa-user-o"></i> Пользователи
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("HistoryGame", "Admin")">
                    <i class="nav-icon fa fa-history"></i> История игр
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("HistoryInput", "Admin")">
                    <i class="nav-icon fa fa-hand-o-right "></i> История ввода
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("HistoryOutput", "Admin")">
                    <i class="nav-icon fa fa-hand-o-left"></i> История вывода
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contacts", "Admin")">
                    <i class="nav-icon fa fa-phone-square"></i>Контакты
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>