﻿<div class="modal-box all-page" id="oplata2">
    <div class="modal-box2">
        <button class="mod_close">
            <img src="../img/close.png">
        </button>
        <div class="center-container">
            <div class="blue-title">Условия оплаты</div>
            <div class="star-line">
                <img src="../img/star.png" class="line-left left">
                <hr>
                <img src="../img/star.png" class="line-left right">
            </div>
            <div class="sm-text" style="text-align: left">
                <div class="title_sm">Реквизиты:</div>
                Республика Казахстан, 080000, г. Атырау, Привокзальный 5 мкр., д. 15<br>
                ТОО "GrandAquaFarm"<br>
                ИИН: 170840011890<br>
                АФ АО "Forte Bank"<br>
                ИИК KZ5596510F0007515666<br>
                БИК IRTYKZKA<br>
                <div class="title_sm tt">Способы оплаты:</div>
                Основной и единственный способ оплаты, который используется на сайте - это платежи через системы электронных денег Wallet One KZT. Через данный платежный шлюз Вы можете воспользоваться оплатой картами Visa/Maestro/MasterCard

                <br>
                <a class="in_a" href="https://www.walletone.com/ru/wallet/offer/rules_kzt1/" target="_blank">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-box all-page" id="about">
    <div class="modal-box2">
        <button class="mod_close">
            <img src="/img/close.png">
        </button>
        <div class="center-container">
            <div class="blue-title">Легкий интернет-заработок без вложений</div>
            <div class="star-line">
                <img src="/img/star.png" class="line-left left">
                <hr>
                <img src="/img/star.png" class="line-left right">
            </div>
            <div class="sm-text">
                Заработок в интернете — это отличный способ реализовать свои возможности и конвертировать их в денежном эквиваленте. При этом работая удаленно можно жить практически в любой точке мира, а все что нужно для старта — это компьютер и выход в интернет. В этой статье разберем: только самые лучшие способы заработка в сети Интернет. В интернете найдется заработок для человека с любой квалификацией, с начальным капиталом или без денег. Для каждого есть возможность получать от 3 000 рублей в месяц до 210 000 рублей в неделю. Основной принцип получения дохода в онлайн тот же, что и в офлайне: чтобы заработать, нужно что-то продать.
            </div>
        </div>
    </div>
</div>


<div class="modal-box all-page" id="how_to_play2">
    <div class="modal-box2">
        <button class="mod_close">
            <img src="/img/close.png">
        </button>
        <div class="text-box">
            <div class="blue-title">Как играть</div>
            <div class="star-line">
                <img src="/img/star.png" class="line-left left">
                <hr>
                <img src="/img/star.png" class="line-left right">
            </div>
            <div class="sm-text">
                Добро пожаловать на "СЧЕТЧИК УДАЧИ"!  Это игровой портал, где собраны все самые новые онлайн игры. Каждая девочка и каждый мальчик сможет найти для себя интересные онлайн игры любого жанра: Гонки, Одевалки, Танки, Майнкрафт и разные многопользовательские игры. Также вас ждут игры по мотивам любимых детских мультфильмов и персонажей. Мы постоянно добавляем на сайт игры, а вы всегда можете увидеть их на главной странице и сразу поиграть. Любите Губку Боба, Пони, кошку Анжелу, мишку Фредди и остальных? Тогда быстрее заходите к нам и начинайте играть в яркие и красочные игры. Играя, вы сможете пережить все приключения любимых героев: бегать, прыгать, стрелять, решать логические задачи и весело проводить время. Удачи!
            </div>
        </div>
    </div>
</div>


<div class="modal-box all-page" id="contacts2">
    <div class="modal-box2">
        <button class="mod_close">
            <img src="/img/close.png">
        </button>
        <div class="text-box">
            <div class="blue-title">Контакты</div>
            <div class="star-line">
                <img src="/img/star.png" class="line-left left">
                <hr>
                <img src="/img/star.png" class="line-left right">
            </div>
            <div class="contacts">
                <div class="cont flex align-center start">
                    <img src="/img/addres.png">
                    <div class="cont-text">пр-т Абая, 119. БЦ Алматы, офис 911</div>
                </div>
                <div class="cont flex align-center start">
                    <img src="/img/phone.png">
                    <div class="cont-text">
                        <a href="tel:+7 727 321 21 21">+7 727 321 21 21</a>,
                        <a href="tel:+7 727 321 21 21">+7 727 321 21 21</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>