﻿<span class="mob_none">Баланс: <b><span id="profile_balance">@ViewBag.balance</span></b></span>
<!------------- mobile----------->
<span class="mob_block"><b><span id="profile_balance">@ViewBag.balance </span></b></span>
<!-----------// mobile----------->