﻿<div class="app-body">

    @Html.Partial("_MenuAdmin")


    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
            <!-- Breadcrumb Menu-->
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Контакты</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="text-input">Адрес</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Адрес">
                                    </div>
                                </div>
                                <div class="phone-wrapper">

                                </div>
                                <button onclick="addPhone()" class="btn btn-success addPhone">Добавить телефон</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>





