﻿@{
    @model IEnumerable<TorehanGameDev.Models.Bet>
}

<div class="app-body">

    @Html.Partial("_MenuAdmin")


    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">

            <!-- Breadcrumb Menu-->
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">История игр</div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-3">
                                        <input placeholder="Поиск по email" class="form-control" type="text">
                                    </div>
                                    <div class="col-4 pl-0 d-flex align-items-center">
                                        <label class="mr-3" for="select1">Кабинет</label>
                                        <select class="form-control" id="select1">
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                    <div class="col-4  pl-0  d-flex align-items-center">
                                        <label class="mr-3" for="select1">Выишрыш</label>
                                        <select class="form-control" id="select1" name="select1">
                                            <option value="1">да</option>
                                            <option value="2">нет</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center row mb-4 mt-4">
                                    <div class="d-flex align-items-center col-3 justify-content-between">
                                        <div class="mr-3">
                                            Дата от
                                        </div>
                                        <input style="width: 70%" class="form-control" id="date-input1" type="date" name="date-input" placeholder="date">
                                    </div>
                                    <div class="d-flex align-items-center ml-2">
                                        <div class="mr-2">
                                            по
                                        </div>
                                        <input class="form-control" id="date-input1" type="date" name="date-input" placeholder="date">
                                    </div>
                                </div>
                                <table class="table table-responsive-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>email</th>
                                            <th>Кабинет</th>
                                            <th>Сумма ввода (ед)</th>
                                            <th>Дата/Время</th>
                                            <th>Выигрыш</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var item in Model.Select((value, i) => new { i, value }))
                                        {
                                        <tr>
                                            <td>@item.i</td>
                                            <td>@item.value.User.email</td>
                                            <td>@item.value.Room.name</td>
                                            <td>@item.value.betSum</td>
                                            <td>@item.value.insertDatetime</td>
                                            <td>
                                                <span class="badge badge-danger p-2">нет</span>
                                            </td>
                                        </tr>
                                        }


                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Назад</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Вперед</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>





