﻿@{
    @model IEnumerable<TorehanGameDev.Models.PayInsert>
}
<div class="app-body">

    @Html.Partial("_MenuAdmin")


    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
            <!-- Breadcrumb Menu-->
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">История игр</div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-3">
                                        <input placeholder="Поиск по email" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="d-flex align-items-center row mb-4 mt-4">
                                    <div class="d-flex align-items-center col-3 justify-content-between">
                                        <div class="mr-3">
                                            Дата от
                                        </div>
                                        <input style="width: 70%" class="form-control" id="date-input1" type="date" name="date-input" placeholder="date">
                                    </div>
                                    <div class="d-flex align-items-center ml-2">
                                        <div class="mr-2">
                                            по
                                        </div>
                                        <input class="form-control" id="date-input1" type="date" name="date-input" placeholder="date">
                                    </div>
                                </div>
                                <table class="table table-responsive-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>email</th>
                                            <th>Сумма ввода в тг</th>
                                            <th>Сумма ввода (ед)</th>
                                            <th>Дата/Время</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Select((value, i) => new { i, value }))
                                        {
                                            <tr>
                                                <td>@item.i</td>
                                                <td>@item.value.User.email</td>
                                                <td>@(item.value.insertSum*10)</td>
                                                <td>@item.value.insertSum</td>
                                                <td>@item.value.insertDatetime</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Назад</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Вперед</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>





