﻿@{
    @model IEnumerable < TorehanGameDev.Models.User>
}

<div class="app-body">

    @Html.Partial("_MenuAdmin")


    <main class="main">
        <ol class="breadcrumb"></ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">Пользователи</div>
                            <div class="card-body">
                                <div class="col-3 pl-0 mb-3">
                                    <input placeholder="Поиск по email" class="form-control" type="text">
                                </div>
                                <table class="table table-responsive-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>email</th>
                                            <th>Баланс в игровых единицах</th>
                                            <th>Статус</th>
                                            <th>Действие</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Select((value, i) => new { i, value }))
                                        {
                                        <tr>
                                            <td>@item.i</td>
                                            <td>@item.value.email</td>
                                            <td>@item.value.balance</td>
                                            @if (item.value.status == 0) {<td>Активный</td> } else {<td>Заблокирован</td> }
                                            <td>
                                                <button id="block_user" class="btn btn-danger" onclick="blockuserbyid(@item.value.id)">Блокировать</button>
                                                <button id="block_user" class="btn btn-primary" onclick="activateuserbyid(@item.value.id)">Активировать</button>
                                            </td>
                                        </tr>
                                        }


                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Назад</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Вперед</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>

</script>






