﻿@model TorehanGameDev.Models.LoginViewModel


<div class="white-text">Вход</div>
<div class="form-box">
    @*@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login-form", role = "form" }))
        {*@

    @using (Ajax.BeginForm("Login", "Home",
        new AjaxOptions
        {
            OnSuccess = "OnSuccessLogin",
            OnFailure = "OnFailureLogin",
            LoadingElementId = "progress"
        }, new { @id = "login-form", role = "form" }
        ))
    {
        @Html.AntiForgeryToken()
        <div class="input-box">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "e-mail" })
        </div>
        <div class="input-box">
            @Html.PasswordFor(m => m.Password, new { placeholder = "пароль" })
        </div>

        <div class="input-box">
            <div class="error-text reg_error"></div>
        </div>

        <div class="flex align-center btns2">
            <button class="yel-btn yel-sm" type="submit">Войти</button>
            <a href="#" class="sm-anchor show-modal" data-show="reset_password">Забыли пароль?</a>
        </div>
    }
</div>


<script type="text/javascript">
    function OnSuccessLogin(response) {
        if (response.status == 0) {
            window.location.href = "/Home/Index";
        }
        else
        {
            $('.reg_error').text(response.errorMessage);
            $('.error-text').css('display', 'block');
            //alert(response.errorMessage);
        }
    }
    function OnFailureLogin(response) {
        alert("Error occured.");
    }
</script>