﻿@model TorehanGameDev.Models.RegisterViewModel


<div class="white-text">регистрация</div>
<div class="form-box">
    @using (Ajax.BeginForm("Registration",
        new AjaxOptions
        {
            OnSuccess = "OnSuccessRegis",
            OnFailure = "OnFailureRegis",
            LoadingElementId = "progress"
        }))
    {
        @Html.AntiForgeryToken()
        <div class="input-box">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "e-mail" })
        </div>
        <div class="input-box">
            @Html.PasswordFor(m => m.Password, new { placeholder = "пароль" })
        </div>
        <div class="input-box">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "повторите пароль" })
        </div>

        <div class="input-box">
            <div class="error-text reg_error"></div>
        </div>

        

        <div class="text-center btns2">
            <button class="yel-btn yel-big" type="submit" id="registration_btn">зарегистрироваться</button>
        </div>
    }
</div>



<script type="text/javascript">
    function OnSuccessRegis(response) {
        if (response.status == 0) {
            $('#registration-form').fadeOut().promise().done(function () {
                $('#registration_success').fadeIn();
            });
        }
        else
        {
            $('.reg_error').text(response.errorMessage);
            $('.error-text').css('display','block');
            //alert(response.errorMessage);
        }
        
    }
    function OnFailureRegis(response) {
        alert("Error occured.");
    }
</script>
