﻿@model TorehanGameDev.Models.ResetPasswordViewModel

<div class="white-text">регистрация</div>
<div class="form-box">
    @using (Ajax.BeginForm("ResetPassword",
        new AjaxOptions
        {
            OnSuccess = "OnSuccessReset",
            OnFailure = "OnFailureReset",
            LoadingElementId = "progress"
        }))
    {
        @Html.AntiForgeryToken()
        <div class="input-box">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "e-mail" })
            <div class="error-text reset_error">Поле обязательно для заполнения</div>
        </div>

        <div class="btns2 text-center">
            <button class="yel-btn reset_pass" type="submit" style="border: 1px solid #ffe500">Отправить</button>
        </div>
    }
</div>

<script type="text/javascript">
    function OnSuccessReset(response) {
        if (response.status == 0) {
            $('.reset_error').css('display', 'none');
            $('#reset-form').fadeOut().promise().done(function () {
                $('#reset_success').fadeIn();
            });
        }
        else {
            $('.reset_error').text(response.errorMessage);
            $('.reset_error').css('display', 'block');
            //alert(response.errorMessage);
        }
        //alert(response);
    }
    function OnFailureReset(response) {
        alert("Error occured.");
    }
</script>
