﻿<div @{
        @model TorehanGameDev.Controllers.HomeController.PayHistory
     }

    class="section-flex flex center align-center">
    <div class="box balance-box">
        <div class="center-box">
            <div class="center-animate"></div>
            <div class="center-animate2"></div>
            <div class="square b1 sq1"></div>
            <div class="square sm-1 b3 sq2"></div>
            <div class="square sm-2 b4 sq3"></div>
            <div class="square sm-3 b5 sq4"></div>
            <div class="square right b2 sq5"></div>
            <div class="square right sm-1 sq6"></div>
            <div class="square right sm-2 sq7"></div>
            <div class="square right sm-3 sq8"></div>
            <div class="center-container auto">
                <div class="balance-container">
                    <div class="balance-title text-center">Баланс</div>
                    <div class="balance-menu">
                        <a href="#" class="balance-menu-item active" data-id="1"><span>Пополнить<br class="mob-help"> счет</span></a>
                        <a href="#" class="balance-menu-item" data-id="2"><span>Получить<br class="mob-help"> выигрыш</span></a>
                        <a href="#" class="balance-menu-item" data-id="3"><span>История</span></a>
                    </div>
                    <div class="balance-form">
                        <div class="balance-item active" id="balance-1">
                            <div class="top-text flex start align-center">
                                <img src="/img/balance-icon.png">
                                <div class="top-text-item">
                                    <span>* При пополнении счета 1 игровая единица  = 10 тенге</span><br>
                                    <span>* Сумма пополнения на баланс должна быть кратна 10 тенге</span>
                                </div>
                            </div>
                            <form action="https://wl.walletone.com/checkout/checkout/Index" method="post">

                                <input name="WMI_MERCHANT_ID" style="display:none" value="111083153449" />
                                <input name="WMI_CURRENCY_ID" style="display:none" value="398" />
                                <input name="WMI_DESCRIPTION" style="display:none" value="Оплата демонстрационного заказа" />
                                <input name="WMI_SUCCESS_URL" style="display:none" value="https://luckcounter.com/home/successpay" />
                                <input name="WMI_FAIL_URL" style="display:none" value="https://luckcounter.com/home/successpay" />

                                <div class="form-flex flex align-start">
                                    <div class="form-item">
                                        <div class="form-top flex align-center start">
                                            <span class="sm-span mob-none">Сумма пополнения:</span>
                                            <input type="text" name="WMI_PAYMENT_AMOUNT" class="input-sm summinptng" placeholder="Сумма пополнения">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-top flex align-center center">
                                            <span class="sm-span mob-none">Сумма на баланс:</span>
                                            <input type="text" class="input-sm summinp" placeholder="Сумма на баланс:">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-bottom text-center">
                                    <div class="bottom-flex flex align-center center">
                                        <input type="radio" name="radio" id="radio" class="radio">
                                        <label for="radio"><span class="sm-span">Я согласен с условием договора оферта</span></label>
                                    </div>
                                    <button type="submit" class="yel-btn long-btn" id="replenish">
                                        <img src="/img/blick.png" class="menu-blick">
                                        пополнить
                                    </button>

                                    <button type="submit" class="yel-btn long-btn" id="replenishtest">
                                        <img src="/img/blick.png" class="menu-blick">
                                        пополнить тест
                                    </button>

                                </div>
                            </form>
                        </div>
                        <div class="balance-item" id="balance-2">
                            <div class="top-text flex center align-center">
                                <img src="/img/balance-icon.png">
                                <div class="top-text-item">
                                    <span>* При выводе средств 1 игровая единица = 50 тенге</span><br>
                                    <span>* Минимальная сумма для снятия 1500 игровых единиц</span>
                                </div>
                            </div>
                            <div class="second-id">
                                <form action="" method="">
                                    <div class="second-id-flex flex">
                                        <input type="text" placeholder="Сумма" class="input-sm2">
                                        <div class="convert">
                                            0 тг
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" placeholder="Счет" class="chet">
                                        <div class="error-text">Минимальная сумма для снятия 1500 игровых единиц</div>
                                    </div>

                                    <div class="form-bottom text-center">
                                        <button type="submit" class="yel-btn long-btn" id="receive">
                                            <img src="/img/blick.png" class="menu-blick">
                                            Получить
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="balance-item" id="balance-3">
                            <div class="table">
                                <form action="" method="">
                                    <div class="top-filter text-center">
                                        <span class="sm-span">Дата:</span>
                                        <div class="select-item">
                                            <span class="sm-span">от</span>
                                            <input type="text" class="datepicker">
                                        </div>
                                        <div class="select-item">
                                            <span class="sm-span">до</span>
                                            <input type="text" class="datepicker">
                                        </div>
                                    </div>
                                </form>
                                <table>
                                    <tr class="header-tr">
                                        <td width="36%">Дата/Время</td>
                                        <td width="24%">Сумма</td>
                                        <td width="38%">Тип операции</td>
                                    </tr>

                                    @foreach (var payInsert in Model.PayInsert)
                                    {
                                        <tr>
                                            <td>@payInsert.insertDatetime</td>
                                            <td>@payInsert.insertSum</td>
                                            <td>Пополнение</td>
                                        </tr>
                                    }

                                    @foreach (var payOut in Model.PayOut)
                                    {
                                        <tr>
                                            <td>@payOut.outDatetime</td>
                                            <td>@payOut.outSum</td>
                                            <td>Вывод средств</td>
                                        </tr>
                                    }

                                </table>
                                <div class="pagination">
                                    <a href="#" class="pagination-item active">1</a>
                                    <a href="#" class="pagination-item">2</a>
                                    <a href="#" class="pagination-item">3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="replenish-modal">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="form2">
                        <img src="/img/modal-img.png" class="form-moneta no-filter">
                        <div class="modal-text">
                            <span class="upper">Ваш Баланс</span><br>
                            <span class="unupper">пополнен на сумму</span>
                        </div>
                        <div class="yel-box">
                            <span id="inpSumm1">100 000</span> игровых единиц
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="receive-modal">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="form2">
                        <img src="/img/modal-img2.png" class="form-moneta no-filter">
                        <div class="modal-text">
                            <span class="unupper2">На счет 18529638520741</span>
                            <span class="upper">переведено</span><br>
                        </div>
                        <div class="yel-box">
                            10 000 тенге
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-text">Допускаются люди, достигшие 18 лет</div>
        </div>
    </div>
</div>