﻿<div class="text-center">
    <div class="index-logo">
        <div class="logo-top flex start">
            <div class="logo-items marg" data-id="1"><img src="/img/sun.png" class="sun"></div>
            <div class="logo-items" data-id="2"><span>0</span></div>
            <div class="logo-items" data-id="3"><span>0</span></div>
            <div class="logo-items marg" data-id="4"><span>0</span></div>
            <div class="logo-items" data-id="5"><span>0</span></div>
            <div class="logo-items" data-id="6"><span>0</span></div>
            <div class="logo-items" data-id="7"><img src="/img/sun.png" class="sun"></div>
        </div>
        <img src="/img/star-bold.png" class="index-logo-img left">
        <img src="/img/star-bold.png" class="index-logo-img right">
        <img src="/img/star-blue.png" class="index-logo-top left">
        <img src="/img/star-blue.png" class="index-logo-top right">
        <div class="logo-text">Счетчик удачи</div>
        <div class="logo-bottom flex start">
            <div class="logo-items marg" data-id="1"><span>1</span></div>
            <div class="logo-items" data-id="2"><span>0</span></div>
            <div class="logo-items" data-id="3"><span>0</span></div>
            <div class="logo-items marg" data-id="4"><span>0</span></div>
            <div class="logo-items" data-id="5"><span>0</span></div>
            <div class="logo-items" data-id="6"><span>0</span></div>
            <div class="logo-items" data-id="7"><img src="/img/dollar.png"></div>
        </div>
    </div>

    <div class="box res-box">
        <div class="center-box">
            <a href="#" class="flex align-center start kak_igrat show-modal" data-show="how_to_play"><img src="/img/info-2.png"> Как играть?</a>
            <div class="center-animate"></div>
            <div class="center-animate2"></div>
            <div class="square sq1"></div>
            <div class="square sm-1 sq2"></div>
            <div class="square sm-2 sq3"></div>
            <div class="square sm-3 sq4"></div>
            <div class="square right sq5"></div>
            <div class="square right sm-1 sq6"></div>
            <div class="square right sm-2 sq7"></div>
            <div class="square right sm-3 sq8"></div>
            <div class="center-container">
                <div class="blue-title">Легкий интернет-заработок без вложений</div>
                <div class="star-line">
                    <img src="/img/star.png" class="line-left left">
                    <hr>
                    <img src="/img/star.png" class="line-left right">
                </div>
                <div class="lg-text">
                    @ViewBag.Status
                </div>
            </div>

            <div class="modal-box" id="registration">
                <div class="modal-box2">
                    <button class="mod_close show-form">
                        <img src="/img/close.png">
                    </button>

                </div>

            </div>
        </div>
    </div>
</div>

