﻿<div class="section-flex flex center align-center mob-overflow">
    <div class="home-after">
        <img src="/img/y-arrow.png" class="y-arr">
        <div class="big-blick">
            <img src="/img/big-blick.png">
        </div>
        <div class="sm-blick">
            <img src="/img/big-blick.png">
        </div>
        <div class="blue-circle"></div>
        <div class="home">
            <div class="home-center">
                <div class="home-top-text">
                    <div class="home-sm">На кону</div>
                    <div class="home-big home-rel">1 000 000</div>
                </div>
                <div class="home-center-text">
                    <div class="home-sm">Ваш баланс</div>
                    <div class="home-big">@ViewBag.balance</div>
                </div>
                <div class="home-bottom-text">
                    <a href="@Url.Action("Balance", "Home")" class="home-anchor hvr-rectangle-in">
                        <img src="/img/add-3.png">
                        <span>Пополнить</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

