﻿<div class="text-center">
    <div class="index-logo">
        <div class="logo-top flex start">
            <div class="logo-items marg" data-id="1"><img src="/img/sun.png" class="sun"></div>
            <div class="logo-items" data-id="2"><span>0</span></div>
            <div class="logo-items" data-id="3"><span>0</span></div>
            <div class="logo-items marg" data-id="4"><span>0</span></div>
            <div class="logo-items" data-id="5"><span>0</span></div>
            <div class="logo-items" data-id="6"><span>0</span></div>
            <div class="logo-items" data-id="7"><img src="/img/sun.png" class="sun"></div>
        </div>
        <img src="/img/star-bold.png" class="index-logo-img left">
        <img src="/img/star-bold.png" class="index-logo-img right">
        <img src="/img/star-blue.png" class="index-logo-top left">
        <img src="/img/star-blue.png" class="index-logo-top right">
        <div class="logo-text">Счетчик удачи</div>
        <div class="logo-bottom flex start">
            <div class="logo-items marg" data-id="1"><span>1</span></div>
            <div class="logo-items" data-id="2"><span>0</span></div>
            <div class="logo-items" data-id="3"><span>0</span></div>
            <div class="logo-items marg" data-id="4"><span>0</span></div>
            <div class="logo-items" data-id="5"><span>0</span></div>
            <div class="logo-items" data-id="6"><span>0</span></div>
            <div class="logo-items" data-id="7"><img src="/img/dollar.png"></div>
        </div>
    </div>

    <div class="box res-box">
        <div class="center-box">
            <a href="#" class="flex align-center start kak_igrat show-modal" data-show="how_to_play"><img src="/img/info-2.png"> Как играть?</a>
            <div class="center-animate"></div>
            <div class="center-animate2"></div>
            <div class="square sq1"></div>
            <div class="square sm-1 sq2"></div>
            <div class="square sm-2 sq3"></div>
            <div class="square sm-3 sq4"></div>
            <div class="square right sq5"></div>
            <div class="square right sm-1 sq6"></div>
            <div class="square right sm-2 sq7"></div>
            <div class="square right sm-3 sq8"></div>
            <div class="center-container">
                <div class="blue-title">Легкий интернет-заработок без вложений</div>
                <div class="star-line">
                    <img src="/img/star.png" class="line-left left">
                    <hr>
                    <img src="/img/star.png" class="line-left right">
                </div>
                <div class="sm-text">
                    Заработок в интернете — это отличный способ реализовать свои возможности и конвертировать их в денежном эквиваленте. При этом работая удаленно можно жить практически в любой точке мира, а все что нужно для старта — это компьютер и выход в интернет. В этой статье разберем: только самые лучшие способы заработка в сети Интернет. В интернете найдется заработок для человека с любой квалификацией, с начальным капиталом или без денег. Для каждого есть возможность получать от 3 000 рублей в месяц до 210 000 рублей в неделю. Основной принцип получения дохода в онлайн тот же, что и в офлайне: чтобы заработать, нужно что-то продать.
                </div>
                <div class="text-right btns mob_none">
                    <button class="yel-btn show-modal yel-big" data-show="registration">
                        <img src="/img/blick.png" class="menu-blick">
                        Зарегистрироваться
                    </button>
                    <button class="yel-btn show-modal yel-sm" data-show="login">
                        <img src="/img/blick.png" class="menu-blick">
                        Войти
                    </button>
                </div>
            </div>

            <div class="modal-box" id="login">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="form">
                        @{ Html.RenderAction("_Login", "Home"); }
                    </div>
                </div>
            </div>
            <div class="modal-box" id="reset_password">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="form">
                        <div class="white-text">Забыли пароль?</div>
                        <div class="form-box" id="reset-form">
                            @{ Html.RenderAction("_ResetPassword", "Home"); }

                        </div>
                        <div class="succes-box" id="reset_success">
                            <div class="succes-text">Успешно</div>
                            <div class="succes-text-sm">На указанный Вами e-mail выслан новый пароль!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="registration">
                <div class="modal-box2">
                    <button class="mod_close show-form">
                        <img src="/img/close.png">
                    </button>
                    <div class="form" id="registration-form">
                        @{ Html.RenderAction("_Register", "Home"); }
                    </div>
                    <div class="succes-box" id="registration_success">
                        <div class="succes-text">Спасибо за регистрацию!</div>
                        <div class="succes-text-sm">На указанный Вами e-mail выслана ссылка для подтверждения!</div>
                    </div>
                </div>

            </div>
            <div class="modal-box" id="how_to_play">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="text-box">
                        <div class="blue-title">Как играть</div>
                        <div class="star-line">
                            <img src="/img/star.png" class="line-left left">
                            <hr>
                            <img src="/img/star.png" class="line-left right">
                        </div>
                        <div class="sm-text">
                            Добро пожаловать на "СЧЕТЧИК УДАЧИ"!  Это игровой портал, где собраны все самые новые онлайн игры. Каждая девочка и каждый мальчик сможет найти для себя интересные онлайн игры любого жанра: Гонки, Одевалки, Танки, Майнкрафт и разные многопользовательские игры. Также вас ждут игры по мотивам любимых детских мультфильмов и персонажей. Мы постоянно добавляем на сайт игры, а вы всегда можете увидеть их на главной странице и сразу поиграть. Любите Губку Боба, Пони, кошку Анжелу, мишку Фредди и остальных? Тогда быстрее заходите к нам и начинайте играть в яркие и красочные игры. Играя, вы сможете пережить все приключения любимых героев: бегать, прыгать, стрелять, решать логические задачи и весело проводить время. Удачи!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="oplata">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="../img/close.png">
                    </button>
                    <div class="text-box">
                        <div class="blue-title">Условия оплаты</div>
                        <div class="star-line">
                            <img src="../img/star.png" class="line-left left">
                            <hr>
                            <img src="../img/star.png" class="line-left right">
                        </div>
                        <div class="sm-text text-left" style="text-align: left">
                            <div class="title_sm">Реквизиты:</div>
                            Республика Казахстан, 080000, г. Атырау, Привокзальный 5 мкр., д. 15<br>
                            ТОО "GrandAquaFarm"<br>
                            ИИН: 170840011890<br>
                            АФ АО "Forte Bank"<br>
                            ИИК KZ5596510F0007515666<br>
                            БИК IRTYKZKA<br>
                            <div class="title_sm tt">Способы оплаты:</div>
                            Основной и единственный способ оплаты, который используется на сайте - это платежи через системы электронных денег Wallet One KZT. Через данный платежный шлюз Вы можете воспользоваться оплатой картами Visa/Maestro/MasterCard

                            <br>
                            <a class="in_a" href="https://www.walletone.com/ru/wallet/offer/rules_kzt1/" target="_blank">Пользовательское соглашение</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="contacts">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="text-box">
                        <div class="blue-title">Контакты</div>
                        <div class="star-line">
                            <img src="/img/star.png" class="line-left left" style="left: 98.8%;">
                            <hr>
                            <img src="/img/star.png" class="line-left right" style="right: 98.8%;">
                        </div>
                        <div class="contacts">
                            <div class="cont flex align-center start">
                                <img src="/img/addres.png">
                                <div class="cont-text">пр-т Абая, 119. БЦ Алматы, офис 911</div>
                            </div>
                            <div class="cont flex align-center start">
                                <img src="/img/phone.png">
                                <div class="cont-text">
                                    <a href="tel:+7 727 321 21 21">+7 727 321 21 21</a>,
                                    <a href="tel:+7 727 321 21 21">+7 727 321 21 21</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------- mobile----------->
<div class="text-center btns mob_block">
    <button class="yel-btn show-modal yel-big" data-show="registration">
        <img src="/img/blick.png" class="menu-blick">
        Зарегистрироваться
    </button>
    <button class="yel-btn show-modal yel-sm" data-show="login">
        <img src="/img/blick.png" class="menu-blick">
        Войти
    </button>
</div>
<!------------- mobile----------->
