﻿<div class="section-flex flex center align-center">
    <div class="room mining mob-res">
        <div class="center-box">
            <div class="center-animate"></div>
            <div class="center-animate2"></div>
            <div class="square m-sm1 sq1"></div>
            <div class="square sm-1 sq2"></div>
            <div class="square sm-3 m-sm3 sq3"></div>
            <div class="square sm-2 sq4" style="display: none"></div>
            <div class="square right m-sm1 sq5"></div>
            <div class="square right sm-1 sq6"></div>
            <div class="square right sm-3 m-sm4 sq7"></div>
            <div class="square right sm-2 m-sm4 sq8" style="display: none"></div>
            <div class="center-container">
                <div class="mining-box">
                    <img src="/img/mining-logo.png" class="mining-logo">
                    <div class="mining-flex flex align-center">
                        <div class="mining-item flex align-center start active">
                            <img src="/img/mining-dol.png" class="mining-img">
                            <div class="mining-item-text">@ViewBag.CReamins</div>
                        </div>
                        <div class="mining-item flex align-center start">
                            <img src="/img/mining-time.png" class="mining-img">
                            <div id="remainingTime" class="mining-item-text">@DateTime.Now.TimeOfDay.Hours:@DateTime.Now.TimeOfDay.Minutes:@DateTime.Now.TimeOfDay.Seconds</div>
                        </div>
                    </div>
                    <div class="mining-text">
                        <!----------------------------Если время активно------------------------------>
                        <span class="span-hidden">Комната майнинга будет активна через</span>
                        <!----------------------------//Если время активно------------------------------>
                        <span>Введи код и получи <font color="#f7ed00;"><b>+1</b></font> единиц к балансу!</span>
                    </div>
                    <div class="mining-form">
                        <form action="" method="">
                            <div class="input-box" style="margin: 0; padding-bottom: 0.5em">
                                @*<input type="text" class="captcha" disabled>*@
                                <img src="@ViewBag.Captcha" class="captcha">
                            </div>
                            <div class="input-box">
                                <input type="text" id="input_captcha" placeholder="Ввести код">
                                <div class="error-text">Не правильный код</div>
                            </div>
                            <button type="submit" class="yel-btn long mob_absolut" id="vvod">
                                <img src="/img/blick.png" class="menu-blick">
                                ввод
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="vvod-modal">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="form2">
                        <img src="/img/modal-img2.png" class="form-moneta no-filter">
                        <div class="modal-text">
                            <span class="upper">Ваш Баланс</span><br>
                            <span class="unupper">пополнен на сумму</span>
                        </div>
                        <div class="yel-box">
                            1 игровых единиц
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    try {


        var countDownDate = new Date("March 20, 2019 00:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            $('#remainingTime').html(hours + ":" + minutes + ":" + seconds);

            // If the count down is finished, write some text 
            if (distance < 0) {
                clearInterval(x);
                $('#remainingTime').html("EXPIRED");
            }
        }, 1000);
    }
    catch{ }
</script>