﻿@{
    @model TorehanGameDev.Models.Room
}

<input type="hidden" id="roomId" value=@Model.id>
<input type="hidden" id="minSumm" value=@Model.minInsert>
<input type="hidden" id="maxSumm" value=@Model.step3>
<input type="hidden" id="winSumm" value=@Model.summ>

<div class="section-flex flex center align-center">
    <div class="room mob-res">
        <div class="center-box">
            <div class="win-text">
                <span>Вы выиграли!</span>
            </div>
            <div class="center-animate"></div>
            <div class="center-animate2"></div>
            <div class="square sq1"></div>
            <div class="square sm-1 sq2"></div>
            <div class="square sm-3 sq3"></div>
            <div class="square sm-2 sq4" style="display: none"></div>
            <div class="square right sq5"></div>
            <div class="square right sm-1 sq6"></div>
            <div class="square right sm-3 sq7"></div>
            <div class="square right sm-3 sq8" style="display: none"></div>
            <div class="room-border">
                <div class="room-border2">
                    <div class="digit">
                        <div class="b-star s1">
                            <img src="/img/bingo-star.png">
                        </div>
                        <div class="b-star s2">
                            <img src="/img/bingo-star.png">
                        </div>
                        <div class="b-star s3">
                            <img src="/img/bingo-star.png">
                        </div>
                        <div class="b-star s4">
                            <img src="/img/bingo-star.png">
                        </div>
                        <img src="/img/star-blue-bold.png" class="digit-star left">
                        <img src="/img/star-blue-bold.png" class="digit-star right">
                        <div class="digit-box">
                            <div class="bingo-blick">
                                <img src="/img/bingo-blick.png">
                            </div>
                            <div class="digit-flex flex center">
                                <div class="digit-item">
                                    <div class="inner">
                                        <div class="front"></div>
                                        <div class="back">
                                            <input type="text" class="back-input star_1" value="0" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="digit-item">
                                    <div class="inner">
                                        <div class="front"></div>
                                        <div class="back">
                                            <input type="text" class="back-input star_2" value="3" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="digit-item">
                                    <div class="inner">
                                        <div class="front"></div>
                                        <div class="back">
                                            <input type="text" class="back-input star_3" value="0" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="digit-item">
                                    <div class="inner">
                                        <div class="front"></div>
                                        <div class="back">
                                            <input type="text" class="back-input star_4" value="0" disabled>
                                        </div>
                                    </div>
                                </div>

                                @for (int i = 0; i < ViewBag.Cnt; i++)
                                {
                                    <div class="digit-item">
                                        <div class="inner">
                                            <div class="front"></div>
                                            <div class="back">
                                                <input type="text" class="back-input star_@(i+5)" value="0" disabled>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                    <div class="room-form">
                        <div class="room-form-box">
                            <div class="input-box">
                                <input type="text" class="number" name="" placeholder="Введите сумму" id="room-input">
                                <div class="error-text roomStat" id="error-1">минимальная сумма 50</div>
                            </div>
                            <div class="room-btns flex">
                                <button type="button" class="room_btn" data-value=@Model.step1> <span>@Model.step1</span></button>
                                <button type="button" class="room_btn" data-value=@Model.step2> <span>@Model.step2</span></button>
                                <button type="button" class="room_btn" data-value=@Model.step3> <span>@Model.step3</span></button>
                            </div>
                            <div class="room-submit text-center">
                                <button type="button" class="yel-btn start">
                                    <img src="/img/blick.png" class="menu-blick">
                                    Играть
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-box" id="go-balance">
                <div class="modal-box2">
                    <button class="mod_close">
                        <img src="/img/close.png">
                    </button>
                    <div class="form2">
                        <img src="/img/moneta.png" class="form-moneta">
                        <div class="white-text">недостаточно средств!</div>
                        <div class="modal-anchor">
                            <a href="@Url.Action("Balance", "Home")">Пополните баланс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
